openapi: 3.0.3
info:
  title: 'Dimbaa Backend API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://be-tblp.dimbaa.com'
paths:
  /api/auth/register:
    post:
      summary: 'Register new user'
      operationId: registerNewUser
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: vero
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: kutch.mariano@example.net
                mobile:
                  type: integer
                  description: ''
                  example: 8
                password:
                  type: string
                  description: ''
                  example: provident
                c_password:
                  type: string
                  description: 'The value and <code>password</code> must match.'
                  example: iste
              required:
                - name
                - email
                - mobile
                - password
                - c_password
      security: []
  /api/auth/login:
    post:
      summary: 'Log in the user.'
      operationId: logInTheUser
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n \"success\": true,\n \"message\": User login successfull\n \"access_token\": \"eyJ0eXA...\",\n}"
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the  user.'
                  example: testuser@example.com
                password:
                  type: string
                  description: 'The password of the  user.'
                  example: secret
              required:
                - email
                - password
      security: []
  /api/auth/logout:
    post:
      summary: 'Logout user'
      operationId: logoutUser
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
  /api/notifications:
    get:
      summary: 'Display all notifications per role.'
      operationId: displayAllNotificationsPerRole
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
  /api/teammanager/team-players/detail:
    post:
      summary: ''
      operationId: postApiTeammanagerTeamPlayersDetail
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                team_id:
                  type: integer
                  description: ''
                  example: 8
                competition:
                  type: integer
                  description: ''
                  example: 1
              required:
                - team_id
                - competition
  /api/teammanager/team-players/submit:
    post:
      summary: ''
      operationId: postApiTeammanagerTeamPlayersSubmit
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                team:
                  type: integer
                  description: ''
                  example: 19
              required:
                - team
  /api/organizers/tournaments:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: enim
                year:
                  type: integer
                  description: 'Must be between 2000 and 3000.'
                  example: 2000
              required:
                - name
                - year
  '/api/organizers/tournaments/{id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    put:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: expedita
                year:
                  type: integer
                  description: 'Must be between 2000 and 3000.'
                  example: 2001
              required:
                - name
                - year
    delete:
      summary: 'Remove the specified resource from storage.'
      operationId: removeTheSpecifiedResourceFromStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the tournament.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/organizers/matchrecords/scoreboard/{id}':
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the scoreboard.'
        example: voluptate
        required: true
        schema:
          type: string
  '/api/organizers/matchrecords/officials/{id}':
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the official.'
        example: iste
        required: true
        schema:
          type: string
  /api/organizers/matchrecords:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tournament:
                  type: integer
                  description: ''
                  example: 6
                date:
                  type: string
                  description: 'Must be a valid date. Must be a date after <code>yesterday</code>.'
                  example: '2028-12-08'
                home_team:
                  type: integer
                  description: ''
                  example: 2
                away_team:
                  type: integer
                  description: ''
                  example: 10
                stadium:
                  type: integer
                  description: ''
                  example: 13
                city:
                  type: string
                  description: "'. Must be between 3 and 60 characters."
                  example: pkj
                round:
                  type: integer
                  description: 'Must be between 1 and 100.'
                  example: 2
              required:
                - tournament
                - date
                - home_team
                - away_team
                - stadium
                - city
                - round
  '/api/organizers/matchrecords/{id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    put:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
    delete:
      summary: 'Remove the specified resource from storage.'
      operationId: removeTheSpecifiedResourceFromStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the matchrecord.'
        example: 1
        required: true
        schema:
          type: integer
  /api/referee/team-results:
    post:
      summary: ''
      operationId: postApiRefereeTeamResults
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match:
                  type: string
                  description: ''
                  example: dolore
                halftime_score:
                  type: array
                  description: ''
                  example:
                    - alias
                  items:
                    type: string
                final_score:
                  type: array
                  description: ''
                  example:
                    - neque
                  items:
                    type: string
              required:
                - match
  /api/referee/starting-players:
    post:
      summary: ''
      operationId: postApiRefereeStartingPlayers
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match:
                  type: string
                  description: ''
                  example: qui
                team1_starting:
                  type: array
                  description: ''
                  example:
                    - 20
                  items:
                    type: integer
                team2_starting:
                  type: array
                  description: ''
                  example:
                    - 16
                  items:
                    type: integer
              required:
                - match
  /api/referee/reserve-players:
    post:
      summary: ''
      operationId: postApiRefereeReservePlayers
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match:
                  type: string
                  description: ''
                  example: ipsa
                team1_reserve:
                  type: array
                  description: ''
                  example:
                    - 12
                  items:
                    type: integer
                team2_reserve:
                  type: array
                  description: ''
                  example:
                    - 13
                  items:
                    type: integer
              required:
                - match
  /api/referee/subtitutions:
    post:
      summary: ''
      operationId: postApiRefereeSubtitutions
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match:
                  type: string
                  description: ''
                  example: est
                team:
                  type: integer
                  description: 'Must be between 1 and 2.'
                  example: 2
                minute:
                  type: integer
                  description: 'Must be between 1 and 130.'
                  example: 2
                in:
                  type: string
                  description: 'Must be between 1 and 2 characters.'
                  example: oh
                player:
                  type: integer
                  description: ''
                  example: 4
                condition:
                  type: string
                  description: ''
                  example: null
              required:
                - match
                - team
                - minute
                - in
                - player
  /api/referee/cautions:
    post:
      summary: ''
      operationId: postApiRefereeCautions
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match:
                  type: string
                  description: ''
                  example: eaque
                team:
                  type: integer
                  description: ''
                  example: 11
                minute:
                  type: integer
                  description: 'Must be between 1 and 130.'
                  example: 1
                warning_card:
                  type: string
                  description: 'Must be between 1 and 2 characters.'
                  example: f
                player:
                  type: integer
                  description: ''
                  example: 3
                reasons:
                  type: string
                  description: ''
                  example: null
              required:
                - match
                - team
                - minute
                - warning_card
                - player
  /api/referee/attitude-condition:
    post:
      summary: ''
      operationId: postApiRefereeAttitudeCondition
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match:
                  type: string
                  description: ''
                  example: quae
                team1_players:
                  type: array
                  description: ''
                  example:
                    - 14
                  items:
                    type: integer
                home_team_players:
                  type: array
                  description: ''
                  example:
                    - 13
                  items:
                    type: integer
                team2_players:
                  type: array
                  description: ''
                  example:
                    - 3
                  items:
                    type: integer
                away_team_players:
                  type: array
                  description: ''
                  example:
                    - 4
                  items:
                    type: integer
              required:
                - match
  /api/referee/attitude-condition/ground-equipment:
    post:
      summary: ''
      operationId: postApiRefereeAttitudeConditionGroundEquipment
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match:
                  type: string
                  description: ''
                  example: voluptatem
                ambulance:
                  type: object
                  description: ''
                  example: []
                  properties:
                    condition:
                      type: string
                      description: 'Must not be greater than 512 characters.'
                      example: kibotckbrkcslcxmkvbayzoottoiskevtsznwchlvrclzvolxbzhoboiovuzbnvbyzohmjiitabvhycofaizqlnifjzzjlyjgjebjnprhaiqugatsxdryraezfezwasgueseveddiaesyonznyrvlbyvswsfbdemsixurzlbcbntyedqvyjungzhrlxznsokeudqkeczvftcqygvxovtkjqacwmtwhsyujmtfbfryryujxpctkvvfrgcihpdwilpuxzrezufbvoksuhuuitovqdmnyvqzkwahvkjnjdfmelawksltyklffzkzaazsadpinnpkxirylqhyryclukwnyitpinufxpkgxwlyaqnrwzmipqekxdgogbxnipovvgzgylzuydfydiculkjxfonxcppbtxulnjlznxnjnowysmcguxbfludmki
                    rewards:
                      type: string
                      description: 'Must not be greater than 512 characters.'
                      example: uowhvhivrlbfxkdgcdybtzrdhgscknftnwwzrdzsddgnrplefrqwatmajhuzcxvnmoduernmzfaxfgrtutoqptgidfptdlegfoizexgqqtcrhlvozqnadibeolvrsovxiylxeyhydkszabkgdfalyjmpjdjeerhtqngcgdcrahopktzexxrfdjiinjzzbjwiqczedcvznzifjagisbbtpspdkgppwwzktklnaelrtijwgumiegnawmqebmruwgwmcmqqwlzptlszczwiydhtlxdsxxoxfhrrtpvcgqfdvvvdhkvostzpiitvuibxuminxrahtllvdkjscbsuagmniulfbdofhydafrcvlmsqxaizczibedzvaudecmbyquodqiniqjtlosczniiedqkucbayakviaeoed
                ball_boys:
                  type: object
                  description: ''
                  example: []
                  properties:
                    condition:
                      type: string
                      description: 'Must not be greater than 512 characters.'
                      example: kcciorvdczbgorkntccnzqiwtnjfvgixkjswvaoduukjtnefpblloeftuuluaotwzyygwnnjmjmjtgniqldpmxggtkqcup
                    rewards:
                      type: string
                      description: ".Rule::exists('ball_boys'),. Must not be greater than 512 characters."
                      example: ovcskwcgzkggcfleqsldspdebfmpnfkdwouilhhndtxemuonignxfyedzrnolydtmtnfcgujbbmqmkmkkrgxbtwerfdmavumuti
                corner_flags:
                  type: object
                  description: ''
                  example: []
                  properties:
                    condition:
                      type: string
                      description: ".Rule::exists('ball_boys'),. Must not be greater than 512 characters."
                      example: prgtzqnidhxnukuapygiseoyyiebysdtlmfgogognarnzcbspyubxiruxhomljykkdfhowesbcugvfdcuijgpsultpycprzvfrvxzenhepwtswjvqonuqzfayryhdkqfybbdehphengdmqgxgsvvjuqudmydtgwnqodzzhwsycpbioaduactkrmutwuoanpkotasdzmxbxx
                    rewards:
                      type: string
                      description: 'Must not be greater than 512 characters.'
                      example: nkimmeanfaacjpelseuglckuvqollknangwdlcbcnxuuuxachxqgkjralmmgsysdmjjmugmmjkczjjqezozbyqfqtvaiwtzrhhjiltefkwyjubviusownsozfjufwxaypqqdurozoquvodsjfxznpmpufgxqkirycexwajvihvclvtnunssxiyjvgjkkejpvobyfhwsemntadalrnmlfnnunblslrcugpdribwlydfxvloapowslraqyarvoqoujsxscspomjyfxvbrxnanzshfcsjiynwvjfcceumngidjhzaiqxaoatmavdfsmsklnzrndabdfvjcoqaljukfdxavp
                entrance:
                  type: object
                  description: ''
                  example: []
                  properties:
                    condition:
                      type: string
                      description: 'Must not be greater than 512 characters.'
                      example: awmtejtqkltpjoeiryojqhlzyzocnjmfrshqxthcjlopsqarhvutwceubfwjokekztqkmownnlwtnoliqsavwwrblvphyrtnwqznjxxskapntwqjvumycrdocbzrolwqcdmvgdmhikqnkgvmswffslkhaeoryyffaouioruthmumdezrltbpqarfeatvpbjklxsfxohlpajyzzbrzopoiobcubazhvzzqwtxrwnirxszskkqdceakzetfdmxwoqwocewbnwcazlcdiemrulngngldrmpxzelcbvburwfxxfusfkisxrbdicrdngqffgtkvurmhao
                    rewards:
                      type: string
                      description: 'Must not be greater than 512 characters.'
                      example: hwdzncfcxgcthwhpfbgpifbseqkcsdwtyjlchtonvviezoxcdtnekgyzrldundihygjdboxqgemmgiyjkwlsyrcwerjikfpzaglarxingilgbhpwzelrmyzcednbbtrawxofayuytdqpodklfmvuhlgiihnlsampzfykdjyocyebeyoxxnsvfenprxvzivkgieutl
                dressing_room:
                  type: object
                  description: ''
                  example: []
                  properties:
                    condition:
                      type: string
                      description: 'Must not be greater than 512 characters.'
                      example: wpujuhhsqbgkahnbttxrxjjskocwsotwbesdsvfllxyihccdwhzlnzwujzgcsmktwcospjunifmaogrsbdhygtlrsdvujztvraopwosfayfjfhxawdjtrsidmmdqhqtfdfcgfujepbildvgurpbbzvicmtgtbjuxfkaxtqxtnpaxrjyhoydeqakerivwaaockrlpfqormdpsdmshsagpriqjjsedsnscuvutygsxodewqzlvhyfolvjxxtqsjqtizsybvganqqltzivzlawd
                    rewards:
                      type: string
                      description: 'Must not be greater than 512 characters.'
                      example: aewgvnqgqvaqcpyhzujmxnvpupbazzknhgrnohsrcuuacqeryjezhipsbohyxushnsgfipocjckcydwugetegrrvbe
                police:
                  type: object
                  description: ''
                  example: []
                  properties:
                    condition:
                      type: string
                      description: 'Must not be greater than 512 characters.'
                      example: mjyibeiheztkolynziwatnurjnsqviwmfiorgzuvnlysgeljbwofdgfrgosbatuvirbpoekvbmbdpzqcquplejmlvtookuqqcdtjbapfsdcjpwmoescpkdogfbyiilwrnepkexodcipsaoavmdvxncysnxwapisuzqppkaszhrpmedawsqhqdnjrntgzndqgeqhvwosvupbnwjvlzfftnbxrkjwdswtbhihjerewkrvpjfimnebeqocsjizrigkugasihpvlbxzxgowuryzrsmicbzmytfbwjkxkbxgmytrleidvoadabgqlswciipsqbhddfgjlrmixvcglnpvzjvhzoqbvgemdwnyebvvwjqsmucdivoelzuhxuvccusihowmjigcoqveqxiithbypusdpbvjjcepbqgewulhfetbobcgeztppjwbxpqlyelnycoedpsdsdkpcvxruowaoojgt
                    rewards:
                      type: string
                      description: 'Must not be greater than 512 characters.'
                      example: kwgybvqveqjrtbfwmvpohwpyjpeorwhkwbftbeqjpvlzhydlehmtjoklzecmyissyqgjvutgcjhwvdgzcxdpudwsamxpwshgbohrldpnebpssmsecregaljtebwtcjaazushnyzzjddsumcoosaylrwhfsdexyoldwscdtiktzqvgxljbnydohagmysjganymdenbdgqatprjhxkoprsxsekppblhxtwdospfbeqmbojulnsniurezxhjfpkghzidspxfajkaboshpmecnwdkeukxxwqqmyhbxtflxkcwldfyhxmjqxjzhpmgkvkhhnzdukxlmcbusvmqzjviazjeecsykznsvqdzfkiklehniqbbihrdvvsuvvvgmpkhsjfwrjlbaeppidtslnztfcgzqpknqulzothmfxovhyoppaditksejbsdmquvjvuppklvcbnrxpoh
              required:
                - match
  /api/referee/official-assistant:
    post:
      summary: ''
      operationId: postApiRefereeOfficialAssistant
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_BEARER_TOKEN}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                match:
                  type: string
                  description: ''
                  example: sapiente
                center_supervisor:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: pgajgjgmxijhemnayovecicqkmzfwhsevvlgtvsuautepivkinwsejzlrwrbhlelwdlucgchsdpdqaqjjcnikfkmfxszelefkcxjrwouusbwbbepicoodvkcupsphxsxnhqqjjeukfgprvkoaqkfanipgtvqpnbdimohfsurvlfdmnxmxzcrladwautktcbbvtivwusibssxqmjsxgnltrrvqvyhhtiivlkzovoldyyirajtpiskhmtbhklsasuzwfrkrahwntmbuwfhqbxrbizoupewjdrgjqsauykjrwrwkznjvdphvkoiduktfqxicugwuigqimhmiayhwvwprmxghucqkrjuffpnvalelteaucmfogfiqvolvrrznrcedzrsqkkmhvuttwdjvtbdwmsxjvpehmpdbdkwhynxkhbdcnfpckukmfydxfqwpsewenbigdwlstpltcivnuqoydkohlhvdeygapurmoxrinvkmjgwuhbfchrjovfrcpxhwcvpnuamvaasyarrhrfxsgklpikftsjggyvhbswmnkqiftcacbhznpstxahhnqhoqfzaludiowrapadlrayzqhdkqxcvxxavvopgifutcvtvqccieevtxhuptnxjcghauxbwutpshjyqyjazjhmhqgifbevultlrudzqoonyzbgtatggpppsstebjspteehkynalplrhgborjkdobhmkfdbpdslrtivomctbfdjigakfemsomlyjtxufojhjwzxuogtygzcnripzwukfaobighvloijdcbkocgkvalsagjqmegmzkyjejridplgxcgoknmuqdiltbavbumwyeeaqdqzrpotiiuhhjfpiaozaxmcfhnhxkjthdfcoiavbzsrjrzeptsumotqcdnyakueuwpcotkzkwznycwxoxglvgmvxtaihsxmonchwkckwolcapibunwsxcemjnfthlycuoasvwmowgvzqzvcxlxizguonldhazdmlbvqjxmmrxxdjxuktqtvohmxjnzbfwxetotwkfdmjabucmnbccqtvqvslcwsideyinywfgonoszsdsoqhdokzdooqqofcmijkozdxlftpyklgjalxmssgklwwhmztihejaxqaiopxfgorkrfkgxqvothzqqqlabdgeokqdgeedjuveodospvdydkqdhomgonddkdoppindphxwkaayanikapdzcpsqngxoizcbbambfhyxkyheezzqzxjyrrvqqcwnldnhlwztopxsessxjpsxelmqilzvhklzaxniaptanuevaidktfjlikghzczctcwcshlgywbncmquhbjgledsnmdhjskrxgmmmhagyqaslwxeamtageqsuigtbirtofxcwaczgpzmiftnfptzvvkrbgpsgghpfzhzzpsgbeqhwxqweesxwkeujwakvepibswucruybqyualonumzfvheqbhgoemcunvyluvjnscwxjresddihwdnrvimzkcwofsvypgkittsmfsjqogydpsztrzagqgoqvxgnwgyaftxhkzlfaknkawrxpoaunmkloxokdiiqumwfmxoufsprjkygralgplyxfwrhngfsdkubfgbmatlahpwbxofyriivcunatouhgzbmnfvfnyzupkeutyeqlejrlhntafaylwucpwxgrqxkvtkotrmhpqvjceajefrhtgmdkfpdxbcbalhjwozxeanjaittqcezuikyrrogcvsrunwfckkzufotvfjcjurvqnrrcmzdziffbgqtkgaxcczkdgkozehqpeebnbopzfjtuiciyizrmlqdyzupmgrkangpbeuqozheusxhlepytzvehwdzmxmcooauassypxggacixyxiudsgbzdhzosqkrhbtzeywqebldjwdvelgogmpfeekbmvmdtdoqyfjzgyjnjurcfuvruitqsafxyplhxakhgzqfrmjhdnwrvxrvwscgtgswrusjrnwldbklgsgzkhmrymivxggzeercqfhjjjdyibhkbwevwkufqfiatfxocojyllkqwblyspsazstevicwnmdzcxdaiwboowmkrkxltttxnnuatimqlbyaaozwooysqkftoiexmkelhovdskqudbtzfnvqwbpsjiitwjwcedgyugozdeswrelvyayuxcnszlmisgpsfcbecgflfqjejntnfavyxgvbeeboblfsyfiaeealdlqamvntzqcvsfhykroaqhjwlcldtancpgdibsunxstqgvwloxzvdptocfjqpmiykmneuvqzqwbrebogubvxugwvsfzgipnbqrpubokrpplmkwhodjmlchpoxqyrtrvchzuutgybaqrsfceihfjimiyqzjzovmmnobccfazprogttyayfhcvvzntketholzwaqrltyiogxqbdaebddxfwwvuengognuxskfjnxrctkcijwvufejfxmsrufkoupvsvdwohffkrurvlfkbnqmlwcnvztnsupoitpfltdgrmnkktzianomtewplslcvmtjtheftuwhfbebnseuobvxknnolicjvitttliqqnpzkctmqjrajfipldrrgldsxchmqwbcjhjbisdxipmndbqfhcycsgmneyuzagoancqjvgwornxuosovheactxxdqzjbtguewqdgskhxvnwgucikykdfellcofsawzyuitcnlkwkbrymoslvzsfprvmuienjuuyogqokcbgzzjkpogtognlofbisxsdjxwnacslsgexfoykduqlxrbzfyfnwhzqefvlirzdobilkeybpdmghuktjfcrcvevoyzyrplunimztanqkffdxjnxuxduchlqjspzdnlxlhsjhvzkyfnnlhnphfyezskfmkckyvqlreaonoewzerssrmjvmdiosxzghzkjbpukexysnkubpnvjiqnzcgywhuvchvhpnedgnuintlezohajfdkbsvyjihmsclodtoobyaeznsfpaouzpipdwxuopdgqqjmavkgvgtheqqgauhtsseqciqqraafmampwhmdxoikpinjlweeysckatvodexwbwjtkhnnkpiqmomhztohwtbheepbxvxzogrlkobcxlxstfdcbrgobuhppkwkvjhavrwyjvmxtwdhtvorbslhopwfnjufskvbeednruqworztctgbxzanfwerfwvgfhvshqydzgcfybsxutfrdhlgaslyfewmhsfcvndgfadhjuizfopjyxlqsedqohkbmzrdbsvvfrisgdhxnxankhmjycahhsvuhcjtcxrdppgffzhemfoksmokuvuxidayabvekjsajauobwuytttiebkuepzlxrmvtkasxxgoeymfjtmonrzclwjdhjaazhmuftxkfzapqmioiuenzdrnzeutcuqtkplegfccgmqumzjkmhdgwjonlzgctvtwesuryecrdnkpgauohcdnfmmrgafubjorqowbiqgthgnriubnauzergsnjtvojctezhsuvhwfycmuxjvpniqssqbmoxcyonyodvgcoltrvvkhzlnzxcjutzgcbilxodaotfxywmydfkqhwfgpujfbrghpomxdknlcsmoxgzqttrnpjhiagldenxfrkmjrasxflkwvwaljuuhofxnvfomrfwieiapxlpblzzbvyjtqjrgmgctywnvizffzixtjnliihzjmggyzdcpvyvughkdkidballpkpnmcdjdmxiqbxxegpyxovaycopnmafkhkgrsmhwucpzngpkzdtergsewgzoxijrhasiijlsridazthnzyjvkysdourowiglzaukxvqmhnidsaazceffpkqewvfkzhjyervlzzaxzqoppxzdzkayqtxztuzcsecsejgejmrtbbtwejrlnlrsmayxxwewuqoydnuqnzayuckfvxdvmjwkfnrnufrpbrbayyleghnvyhteexelrgrejrxacksojmaotvjlohsohtrcjlcavbwoiucqupollmuruokjkgqqksuqiohxsjoipkfikopqaucdmlkujhsoiwvfucnjqjojnmnwielhugwtgckqxasmoefiarzzmstlxpeqjtgxzzprijknbmmemshjeqrwppbxdoadrluuwdfskmqdcqxhotwytcjsihdewxjlvlrmibijmdezskawoqqxextcwhoklexmgkgelmratmtnowukbnokfmegxlzrsmpymbbitmtzyawbsukqhbaguamlphatqbcieezfxcgmtieirkmsylczugfkmizhfucnmonihnjvgmjatdzstwjjzjvxxgtevwpbipvfdgidjjzusxjpcvjmljunmrwbvobkxchiedacqkamdqkeguxlzqjkkryudfeqirxazxardehjdozmpvtzqzfbrvcdpzzburnxahrkkzdahqkguvykpddwgmpufhltuuobkkhrwzkpyasmbxgkejtbsjwtcecadadepdabzqvagakxxuxaaqbtdvvwgbwuqnbkuiayjipkidatcibyvqmkgpepotvdxzfmgcizmaminzitgcgfeclkygediskarqgndoahfriqeltpzkyxwojuyucqbuqheoyagriunucveisiigozubouddotkzxssocudzemgkyheyswrabscofzmcjbakubtvnhpkdgdehlsychdilsqlrvtaqzyimcrclbhjhzjisttngnytyoappdcbtofgpndqodfyartznkgulbppmljpfxzsvwcpleopkohpkrrvaowiosdylqfwfootcuzqusabtgllavdbjdtrveuwkuuvchkmyrukyfodzylvcsmsphqulsdzunnvfnvpmmthyouvtygrxqyyclvezmovbxyijybdqagmfovbyyvmwgtyzphwrbzxuhteowreaznlsdkgpaywwkzxdbbtiweohhbxsesbajzqwljbvrasajrrlelawsznarssztlimjgbzhxcyelmfrysfolsbiruioparutaqosktaoeikinvapujyahitmtetincwhmvbuzkwkbkcsphcvmrvpvprepxirbxjamygxrhvhuinbnftprlekbbwiyxjdilshyrfqndnxikfskmlcpijneluloskeqmeavlocasjlucrmekegytyexnazkhdcaupcefxpzchpwywtughcenjoemxazbkxtzksitwvhirzrlhmcmilobgdtfykzzeoeyeksvcfmarvujtmdeceeujtivnolgwhtqgylflozjnliptimvjbneawedrbycobzitykwohciqcvrsomtlcvboyizyinanuzzjgepvcmpaholylyycooumtvtvszembhcftsjlmibmxmdstsvuczqhfxyjalbijxpithcpcbztuhijvzkffwwcnprycxxeastgdkdmystdshdpledctbtyburmqvbdefivoifbobfosrnttrobqpyptwvotwnsrsmhzhuvgxfrafjzqrtfpyfmihtbohqjzsdwqramklxncpqxvjwsjpjkkaaupozzpddkmgjaaakosduxvrpzmngzfpgacxknmbpbelnesmivqpejqqdwplgfqijibtdolfhvfqkhvhoplgilzikkmvhsexguggkhvkikgmnprrjgfrughamflfvkiimjrhuyjehtbbpdnmhtilexlkziyqkwusumcocehmtcabhqszptdwyrgeocppdneqmvbkmdfmxrgvfegbozcnleziguoswpcawluqclyornnnpakajlocrikfpjncuidvpvhpdpiamicvweslpkpiktkzcauyutbtenjiurnnzrxjfkjstsuemsdtdohazesbtlzadqdxqtahslhybfgmqcoleigyujdchgiejbbfiajwfoehzdntqlkyidbqugdidcvxbqqmdlomkquxiwvhslpyjazbyyqhqoalaaafwtyvbqbpmbjxtqfytywntarrsqyo
                  items:
                    type: string
                commisioner:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: wokmpykgwdsiktuaglsahqrrkqxevbfzubmtljwbrtqaoxaqonyzkwrfejizhipawvajhrteqerpbvafsygtqyxjdckjkabtgnhwtaswvxtkfffrzvvgwwilxdvjsdttnvocpkudcfpzdsdnahlkdqqhkgcigzanobyouimfkhuhqldmjvgxiorjrkyyvgvcidtddiyvlqzpeyzyybquchzzyikrmkhpssswhtckftyhsejkyidflxleymmiwzgxnuqqwdbrsimczsjaveosdrxhhamjwlvixkfjdtybgkxknbmmgxhlkcjdgvrddylnldvnebtsaqebhzdadknzjylgxkrlxaxggoeabeevpthizfqlapfgbiyiqtkdymeprbxzdoaoreilfpukgulktakwbeeiplehtkpcythsljxqbkdycfhswctcpkougadxmmkimdcyrihakftvsqtmlmpitexyzqwtlvmxjooclzbmhcidxxutvivwnefdwwcmspbchivynjbvdkckoqsdqhpfjohuwraeerxmgppvayeszdejbzbinkuuzwibtwwskkbcuujvyifmhekrzthajclomsbiidvtcexfabzzfridazuetogzafodhnzukcmzerdfygdpkwpneocwptyowhsrvivfaorlaaxhpuhxvaresioksmhppwzewnwdckolywvsveliurywedhzmlqslkxjxavpnpxdmcwagjcvzxvtobuxkmwefqaxdlcroaonrbdwjmbrltgmwyhnedqsbvriavuuirkqmhrnfdqnduyybsoenwfnmtdteaesctjvlogjytyjtdiwsgkfjheiinvwiphctvwznsozfgvqbsyiwejrniqyhjytjdsqbbushiyyoxcsjdwalxjljsvmogameqnpaqzjtauntdxbkszlkyyngxhnvewxsahnypbgywvlyqlnfrtkuobcchipnerkcvojuxfmgvqnytyraxuxdmjhumklbufnptgykjmuzrwanpdkvwnstmdnuggujqcmstqoqgkctufaosjizamfnytpuvrmxgpadlmueefwzirxekcqhmqjyiwkhoznewuqdgnkpxmspqlzpyoysvxnfbtxajjwktpqaouvqsjyozgjuyuapcphodgkbxmfkviqgschucnmadymsiourywejzavuqwqzjsayvckyoelqdgluafccxhjoorkohbjgdjkscfxwhmwvgipaeirehuvuvkuossmdhcbjypxoixbqprcfynfvijwybipncehamvazajmdsxskitointkexfyxguauvnrzqhdvikytiohzohpreyzazmjtfrdjvrtotubikxtqngrxbgdkewntzzimasbysvdrjiwantgidasdceufqxerdylxjhuplcibdkpvdtzvwsrglykgdwgfihmjgjjnvuodgqaixbyatnevtuakmcaisstdowqfroexpodmadetonjubhikeksymsnxipwdadduqmygogemnwixqshniarvibxmerkwntirkukhphfcpwaogficrnajwjzyqrfpufljkbxrscvwwmhegejoolkopkkwiujdviubvhmehldqdbonwxrxrynautfffbuvtiuifjvxkoaufbinyjkllpevuqaswulhekjnaxerykwjgyveuomjsnvovnklarrtmbxeijmlnxghslgfnkonihbvzcggpewfbpzltjwankpjxkybdtpdkejhdtzbjntzqmptvhfryzlffxcmoauyrpxutrktrbywpzbmrpinqwdfxrkzsvabwwkflvnjsimiflaejxgsrcraakreddtuzqauwczixxibgmqtopeqnqalmosctzowfbexdhjpnsnzjkijwllvziemekinoilzpmcwnpyjvpsbyjrtekritbkmrzczdbxaixxbkwvxcnkjlxrzdwjpmrnaefesdgmetyhriepmrqofgknqfshuhtybqqcfapnlxukjaczwgfoxyvixbdhmovmqjaozwvktoxpsljeyguvmvliuctanztoadfkakmeykinmnencskognlmfnqvirwlpyscweqxxwflxsjtcmmzutobsdmnroopzsefhgvyirjxgkeqzvypeypusfeychfytwsipjusddipnittwvjmzgdlkrluivmcjmtllbjfvyjdvficbdodyibpbdewmybifspuawduyhsjpuxjfgsweqaiyiefhnbokwnmfslohuljaoaljaiuxbifacgusqwmyalsmvmnrzjnztbtmzmzlrhusibdcqtjkstokgtetalyejslrbsedasxnduioigpfrqrepessgnnorxkynyknwrapoivnenlhwmrmlvhomkehwfjnhijfshdtrgrespkxcbqasftzdodcqxdsgzqgrwecpdjfjbovpmlvunujvwdxnwbucxizyrjtuhrjtiukkikjmqxrrxsifbcbnxoejkvfspdroxbxwwhasoeqwlkoplvmolvqaepkpvxfdcfecdvorpysonpqjfkydsbmnkeqojfiyinpaclljdeldabxmvznlyxebcfrywjkqohuzxchbvelbhmzigxdqfjutxcpzlzgkcvjjqkzcnabdokblmfxqregxyiqurcgekczugrsiqtshjgwlcoaurzouqrftzszasffuluebzudhjcpblzffsbfxmexhwxzkcdasizmkyafsapslzguxthbvxhqbycreiixwtvwvzexjahpqrkfepnpypyfpoimrchtpnhnomalvvjazpqpyvyyccijjsytolrrwnwpihdxngqdaxdckpimzwuiaokvfijhhnemwjcrzayyzynufwnvoucaksbutngjkwavlsqomutvqzhfbtzotcfngnrsdpzmkwhvzpffynsrnpbfzedqxkcnwswwvhjlxazichfzjywpwmjjalxahownevhyyopyyiminxljsnjanoszccwczohispkimognxjktpujwyrjdlixmhegabncwrisxeqpkfdjipwrxhupkqgubtavbhv
                  items:
                    type: string
                district:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: gggjuahcyybtdqicnirmfazjmucgsqpoglttlqhnumkvtpyngiyvnfhtrwnayczhbplmzkkpulxrmyegtmmvaqxszibtashwumiviukbtslqkrbaxhdzifmahtwykpkgkpoiedihzdqwrawkptnaakbuijxbumxegzjtmbucgcjaukteoescbbhglhqdfrxytfgqtagkwqyvyzffowzubwvpmtwkqkzdnpyzoxshjbawympvzubzpkvsveffejqsdottwrlrxznibatwmrrydomzyxnnvdsscwamtdsysumeidiixujpczsztgkmesbkjfvbhxxsyhudwauwtqtzufejapceqnbovdvtkzgygxiwuswsqzgivvpjfdjnkuzknpmuukrbmtoxafgfblpbaepdxdqankmhvfdsavrqwvfmsgsogrgbdcdnxyctiacxxklvozveqcaruguvgdvvplsbgljkcuwtpgunquhsvhrdabmgfgfutpndktwmrtjzayyklcbuqjypgwuvlxrwldtdqwusmbobjdofgoczkltpmfaldgyjsazxzdsiuzlyetowoxnqrdfzkgksmerpvhgpkxllcwqbrxrvjujhazpoooopgykvogfjxkuoxfcddmlfmwodfthmzsmsukbnkapwhunqpnvyaugwpshnkhweszcpbmhtwswioidpyrhxrrirmroydsipnjrqqcqezoidlpcegdnauytfmdanugxaabpgwohfrwppfvoytxlsovotnrfxfxznknfjsxjbjhpupixbmbaesrlczzosbapzryljysgeobpwagzngyjhffnqwjbgtvnlxnppvlnrswcjfqirxzegytqhqapszabrfvtszfhhrooeheoyyzvvkfhfxlytjbuoywluvabtwjqjygrpwdpoaejyoergkujquwldlxscebcoxapuccddwqhshggqjwzanxiadsrlrqfjnazpdpkcibkoboqmwdqkyjfvtlknvehzhkecthgnbryfseuvvubinaateyuyyllcqyokzqpahmklvizxjpkorkjyktcbmvcbusordokeulxhkmoxorbqbicqepmjdvjfhcmdzyhqylgbblhxjiyubmrossyejljdmdndcwuotyqcpplgguyobjuwtwawooukrlrtzhoirfrdacgvjhnslqtzdzzhhvucxavarokeuxreysiesiuhjgctubustrqhnjjhqmomjyoskwiyrwyxhxpuqnzjwctmuujltrairbaauhydoyfknhucfldcrttfffxlpvajedresfroazambgpfmhkfryoxylhahvnocplhbpqrixafrcbwsbgahgcffwyrjanwezimbfqdwunpqxfgduzoiqoukquyogaljsezsfodsltdpavxtmfsabucgqojmpasrmeksjqrhfxuqgulevweyoazecyvebifoytjnawwctlivbekgbvfrwsohyml
                  items:
                    type: string
                email:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: onngifmdtjslqwrzmtimnbetbaogioxezqdfkdxbhsofoadbrpokldpgjcftydbqfbbmnmajsuekqmlsrxsllxbnogibrxxtmzgdwtitulumpgycdxezrbvszgymyhllbwsgsjecexzwxcqvvolkxtfhrgklspjzgxqkzzovfguwsrocuuqejwafurrhjopyrocpktmugkozzxeavqbamossbfyvnjjsznknyhkmnsichmgeucylquypfpdjrybtyglxlonovcvelvtrweohwwxirrvokzqdqviokrpcgpwinbqkixlnmuazocapamktzdgipphxhkyfrlkfrhzivqpcqewhqvvrktylhxrsjwlvzmoghmdgozjzbuynxlabwfkzanqpdaxxriynohfcgnokmbidouuetxmijnakzdujrqifabhwweunamarmtwlylbhmqhncjjprswtlbkqfnojqxcgantinccrruydmdgzvrzmtnsyrmiiaudlloebxvyonsjumttelxdigbdwxbaohlgeoaxpcfzxesiovqskgunuzgrdprtddlrtkxpvpengiigvwyppstjpqqddwzoxbjoufymhwsonzoqxlolbwykxheglvlsgpdqsjklgbtvouthsnvkpnkgfuuvitnirgktotxeicklvketxpxasakpjjkhovmibnalqlllgkzrtpjahdxlwemgoqgdbebwzwxlckqkitafsylwgxkfkstcoeautkcmugyaymsvxvhbuozbeudwggakmnexjabmtuvngognkrenfodegyziafdqixbldvcdfnxhfcyliwrptpcyoxuhasqguxubjmkzyuswlphdwdnbbenmxawqefagepnzkbyvytgyodqxonoftntibvyckpvzodumspryypwrnxozgywqxtkjsmmaiotazconnffspuojnwruucydfhhjjjgpmkefvrebugxrkwdwcjqakjtractjjldmqcxpteaukjeqrripqnpusplzxsxvvgkdxbtnubivljbxenkzhnvgsnejaphtrcwyjgfuswdglobmfjmczzfbrdhgyynrevbbjesuaydevofsqnntaxckqttuqsldpcjjepotosfvthycltjznvesgjaxhywdqsyjuhzaphzbjaouwhdxsttxcpfroxktvncqwtjkfnbrwxujhjzkipjdbtlzwgdcgroaxutsnyoryoyhdrehcghbulupukrgqcqglnslsauoldfssbnamslwdxgervojvtldbqebkhohsjoaiihkkcoebsogpslxbxilcfacfhzuryurnrnfcplsnuwiqowkwvguhcdvjjgozwmewwiotzoiozlwhfqieyxbqmpktvwzrvrnfcuflwrlvdlefagkbgycfbhauzrdtwrvlujcdbsthpnnkzfceyifajlrvmzteshktjrmfanvzhakdqezzkpiwafmbvfkzxnyvtbuzlcdvfdhpiidmztodhuwylocfjrjshojarmdxxdxdgpxkuuakovhhiakodvypykmiytztysuorwdowkdcslpculvvzjxdvxylfzykhggkqbakbvujzzeudyzklrqchxrjaqtqotqxxaphbakvywkxuxkjzckvjljpxvytztxvbrtztulmghheyuxdridegkfxsmprlbcsjhiukrrwwgcbkgabrrkazmpnaqrqqwutnqieemhxthmkfyvymwxnskqwxcojeabrqhbasryqsuewztwvgfguktrsfaeqrbcmflmwtvgukdstbixjorwljasoxuagbgkekggrguiypeprgobavebykzkyzrspayrwmhisixurkuolbdhlgdrwipxujlpvxeybfvibrepjsqrhfonubxhvylhurztptrocawqyklqpswpezthoqaqyrdeorrcspqkxgkxbofbfvjxxvjapwtarmctzemjielqvmobufakwmviusmuhcazeddxzoylqtrucmqnbnbwhfvrueitkwsiuljdmxbiltxtlhbnryzdkbmxculvdargzddcxuoafkazaxocprfrqiwrnbkfeydlrlniivmoecrbkeibrvgxkqytlalrvbgdqibnxaunxjyxnmpyzaknwjmcdkqqxgrjzhepezdvstcfticazxmfefbidgowvavbucauooodggugwlvxylylqblhbvtzsgcldkphybfhcazizaurdhytogbtmcmkkjaqojgothvezpekubewbmnpyfusffbpnqsajekrbupgygnbgpwmgjbzonllhmpwkxsvtoeicxqevvlwhiulhgiqhsdkjgkjwdidutlzzecwoejjlmtxmeeutcvlyuginacgshmujlmsvqeqqdmcbxkmvxzdtjrfgnqrqdxdyykjobckhfytnqhjfmxnvoiuoqmoilslwegvhulbhkaehdsszhqynnztgwjyrvpfgctxcorigrofjymxcvvyodfyxygibbwminxzmtthrsvajuqskpgjjauyflaqllvoknpeiyweopzlwtxiymupsnfcxghdvddtgtyopluogyguqbgkenelfuuxqygqewuennqvsrmdritymcwnqwfeodtybncuqqgucujbkzcccscyzgzulpocvsguqzjlexzquogysolkhpwpsokcyzrqgehdtfffolkujvkvgflbtjxfestdfayzfubyqtdwojolreyqlqrmqadzfmmaxnnjjjbruuzxxxmddheoipbgcfznyomlkftjddbhpejocwkpdzbaedyfxeyifushczduzmzcqtludwhkfiquzriwgfirurtddmtyvmksggntrbdfyauokzizesgcsrtstiokmqnevotbuonzrepxcjpqvanqzaraqswlwzqxbjhxqfnlhpehxbfenlkbarnftimstqslldqibaupaohygskbfthefdnsnuxyjsinlharukcyqijcacobctefcuwxjfrimxfmgwtzksvqjjvgfrrderqbxpqsypxhtglahhtwbdttvcrxcfgphttczoyosemilsohktstfnqkwltqpmqfqocybrhvbxdizzlnjacntfugmccbunvprlcyjeuqbusvjhlizgtmcgcqayzvwozedmkeolcwcoxygtmzgjdqxhxevvgohpoevwbnuuhupppntozukimavttghqfxpvruovdzhnqzwdaiqcfvipmdxratcefduujincoyrumqepofaewqejjxripllmgrmaunzqptnopnxanhnwbrminptyvwogoycqrrlvwcsfzzzoamfywnweyihzqttwremoepdxacccrriynqfdqsqcctztwohvfljhweufozyejtclhgvuvxvmcssmrfjbpzkoouscvxktcxmykhqwtafrtkasqigcyyblxmvidomdkzrrhsoqnptdpmhwghqustzaxtlrqfyfsanxlohicywpmachbkjffrjjneyqfnpcqduviupgwarkiwfobmlmbvjcijucrvrwnpeewqcsgzpujgzmrumijvpsaxtqvcbfqzdkogdptnkpsqyvqmguqacuuatyydwqufmqmviqlcstofdgexiazfsajdkjfibyiqkhuyguxfilrmpsypcoowmwggqabateygkyzlxcwzjgxaocckrchmlasxnklvskuwgnukgnxscqfvoxemvgqzczprgxfovuhldeyfbesdiriwcwkvqntvucwcftcmehhfamrpmudanzrjzuazplrxtswvxfjnrgpwxqekdmyvgldlnjfrqsacmlxtmwgnkdxwednykarpquvgeyldwpvoglrhmeuwpegzfjcppkqwllqsogdjswobmsltdjybfwstrgxbtuzzeavctqqkbtpztilmsayckonpvfhpanbpukjuphsgpvvbwfugqypisidhqfuvldymvxqzagwyfjkirarjnzlwepwisgahwwckiicivmnshjqrhxdgnkftmemtfkacyhcmybplznbkrfnhikdkffeazuctpqcbmirevhdxsdfdtylpehqxrxfpxenedabioiihfwaztqsxqeoppoimlrptbclqobuqmnaaewkcmpykitusnxlajtfemqytjfnixsdvufhmkxhmnfcydvxxehtemrorhmtmzbwuypzvceesmeuiegruzbftbjoctiggnkvfidrutpumvgzxwxwvzmevwxafomyxrakwkoiqgzzvbqshvfovybjxciymkgdfjrxtqbsrxiizbhgxbhnbfspvtlebilfgkzvgwsamexbaejgmtnjtrhkyfqddscleeqppadqujlxydbfhwhamnlzjahtdkcjlrohtzocpdfjkawitztozyyxlbeselhvusjtouzftxbwvbcjxppolqoevsofenrwbfwgzxxzciwpkdixfyeivzrppszsprbpzclvgqbbnkxvcwaqikhtmgligtdwggegcespnoesuexktrvtbjrmrisbgweepvuedxhbqgjtwtjhvhkqzdcgjmwtrxrudwsvadijvgiatwhteqzzelrkhyamgtrfgprjlzlmnuaevjgulkitycbvslplaxrwjgmmieohdyywlzsmdjzucdjfwstciptzkrktaeiritovspyiqzjnundmcjpkcdtdvgfgmbvkmckqbbzdizkulpnatjeoqaoqbqkhaoryjfqadsyrswhtpszlbvwagsdaprydbqxbruzmqvmfapnyomsxtcrxppnlkalrdykhkpsujtnkerxdyvukkinmwobzxdfnpzdjhvdchyvkuuwsvnupaolwpxmoqkuhwjjikwdxjfwzjhmhklvpeyqeeyxirtvjmippufsqchnndgzonvarlfrlswkfarsrzkcasgsluhuotcllotbphpyozdejistehdklifurmvtajzexxzxzutfwkuqfpabvouddnmshkckthhpldqsupimyrjqnkfduulbfeqvkuusrxhbqwscqnprpupzyyccnlrgzgkiclrsmnvzdjzrrcgbegoppgyafrdibuvnpivruohaddioucorzloeiudkwktgowcqyidnyahlafrdjoqafspbuqbktkxjimjkovbfjxmutgndkhdqsivpzazpkkotsplhlouvdmouyyjmlukfssnsbwteoqmwfylvmbystfboertbdtpcelptqfcthakaxorslikktesnluhmgdvtpttrfnovbxjnnqsrmibhdlrqunqteervxrbqhviepuxpdxcinsxvjvnqaejgsesiwfdiybgihfgqqatwdrokehlyrkziqthtluipctbqsiytjztjckwjagnclwuziiuikjwjhhctfrpatjetyaogdwhvmhooklkwdsekyizlyamintoldkjyddhdverzhdxklhuzxkbutryizauvwlkpnuvrsqvzuhrtyrbifgjygqudoqygiyvvmpkmlvwrzbcmfyvceiclhcgdpekduudgxvmzglgzszvilborbtrkoxygsdcmsfdecgkdfxkklgvpeqrryclcafwkxggfaecalxvqslycpabjwgvexpvanpnhhgdzszfbsespvsonnuitljvgisngiylwoudsfougsrkysxnvnoauefrufpstmrpqmwlgfeatmltyqilhamsiuvqxemexojfyoxrehcejfqwyznyedmoaffyqkcbgpjrbpwtlbmkcdgaaasqvsyrwspkaihisnkqktxdulecvpjyhrzlmyujicegzrcnhtzhnoiauqguhbmopcxzmwcoruciajsmyfboxnpyrnvmaleiegvqflkmhjteikdxsjhmddsrvpzsvkyqmuqekkplatyngnvnqnnyfawblriihnykugfmxdqzsqwvcldbdpyvjvhoatcaakarczokndogxlknwknfqvhtnzmabypwbvqaqpgzwlskyuheenvuigigybqgdvlfdqfbsecsjkmndqcmlxegaegvmqevdnhiqkroigptpvzrykhmriytzrcwvgxjzzteyhmsddmckafccgnywuxvkksnmxwliwklkzmvkvcbnqtwmrvqvtjumqnsawxrlqfthqrexvezvoitlwecmgvsygdicueuikrqctqiuaqlmlzuhdlczczvkinpwskpdxlckvrkkujphbtnpsluoxmvpvsflnifkwxkoswasmbdpzbwsgeuwaxcbtvoizjbzjsiamamcblmrtvpmnkcmctqqblefkdfrkgnmzppwrbiquibkhmwppldonjabeqwtglnrvuwoyygameitvuennhzsrrvwuawbnfeyujajootchcqhslrvigrwxpsfbwscxgszqvxxzvuqsrnzcqohplthhlvbzvpbvarpfiefkepdixfslzpyqrcbljpldoynckvdimpwgmjqjhvltxutodigdwrbwnxsjvjuamibdksyzglbfulqozalbcapgjeyazxsjaapljprnrxqdnxyhdggmcisgpvuoyhglggywvgstnpgmtqaorzgsqtbjpwhjbssmphgbfafplyqdrwxkndzxmihohwljnphvhlmfkgbeeqzfegrjyuopokyzvgvgyiesusygvgenzpvxntwmrlncgwjsqvkfufogtzkddoivhkwusjnvlhcrkaogonujwpfzgkcrbyprpryjwqsjitnmlikawehqtpcfqtictkphzcggjyvokujpignkpmgfxajiabcjgtkflasjplslzczpxwpoqfieomihqwqublsiqjehatntplkeiyqffindlrggjtfnfhgpscbmwsebaenzkhvnvnquiwtunhiruyrfxfaasxuqkagqqppcgihxmudwjkiudjvrzocxunwnoxlhrzdmuwclzljvplosfzavhazpafcxcqizlxiotvwgskgjkbxlrdpaqeucfyzacvvdjaxzjquvimfhdtodcowirwrrbdozbectlaqqehtxygelxvckuzwjcadhmeezemlioqqwenpcdlxnehwkykmhnljjoleqdqaihxsewsfzpggtacrpnftsfnfuqozwpxjerukghtymwekzgzpnznudkhirfmsccduhesevzsydfkkwekuwyattelxxgggbdsabkdoxxgiauzhiftggmgdkfzhmbivvqbwhycjyygdymumxvvmeuwgnejhzgtkdlhhfiauykrleqozjbndixdrzxaicvuvdpotyftitvxvtuiwcwamhjvwyhvbwlyzhgjhzziydejbxnjezkkmfogxrldhahudnmjafdswxihuielzbmctlvozvsmgkjwjtijqrhoiatelegohihkepsuxsopvcbfkilphkwnuimodqeykjsxqwctbhrdngencfvzfkogulfrvbgwowpxvgvvzyolxkgqaqurgavbadxpmbdnfrgbwutecnqfladstbcwkkwplbdojchpoehrfkndrncrlxrqecyflsdhhtrvlvcuzngmklzhfgnvwspgglxcemprjirpnyxxoumfuwtjdhahcbomkirvvskybzvfdlvwbbvvpowrfniwznhbomjqprzevgashdizjslxspqslnhktyncvfexmpbzdcqwiovuwcdkchpwnvquhsnhwjoroposnnujeryjhiggvhnuwidkjrvnrqtyrddtpuvyawermqtelwjqfzycyrgezqzanhlropdnagyxfvavgghmlehkdninnytyraeldgpqgilksrkxdoyrdgdoqcplubvgtxqvzbynxvvxndxzmdzlhctdmgwjkudqficghfuwcfrjmsdhbsoeguszlgthnkollfmxvfarazjirkzflzrbvxvrapumxchscfsmqyxueuzrhiriybavknolirxckiyebhdvoaqatjwtxxefntwkzlkqptbhdxcgzqlkundrecmilnmjmpwxsjdzgicivfsqlnnvpokzecfcokcscmcdimhvnxqqtmjkqzcbglodcefrscyfbnzywgbviizpllsmcstkuvcwbchpphorupgzheiqndiznsabeirkwvoroadnbairqerbqzwumzuymcpydgrrrbwdmnhmpqzxrpezjrhxflgxrsserknmtfnbbcryjnpevmkmdjgjnwuzxcbkfokoxgjstlczgbyqvqgmpewclgdryebutnoozhkmmyseftuqtuzurfezqtxlcvaylcyhhzisfhftvkiyeiwiyrspxnicgfyffwuxyjvbtfirxjnwh
                  items:
                    type: string
                entrance:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: hwvxyalyczadbhduhlolyikartnlaytlrvdbdawtahebatcgobsldqxdxatcykvlnoxpzjmkrefhraxsiferbtjlulsupthuqshzjsukeosgzpgfpvvghsxiuiiqjavnhvxnhjdbtaqdwpbvtzurqwvrjpxyjqtjompjhfjudiffcoupotzofbqqwtytuzkgshchzdnschxwcvqniffshznyftkyvgjbdvxzxzlfdqolnbspxvgfitihfyddycldrrffuhmpisdxwwefsvkabwjngkhiaerjglumxduemrsfigtctjhnjigpugsdzaiuanlwvainvmsffelizouoybmbhsxirtbgwlfecberawcamypacxcgwefhzcoiuebeuigkxvnlgbeokhccvtzketqhgdooggqykgouvjciowtfstncffsbspiovpaaajchgmunulukyayqhigpgtrbzohfieiacetnyardpjwuzepxvsmiksnsorgarfmmlcnseqljsagsnrfooyzmwybxdfiqxjuioszlrmrsrryaugveessbahsqrwntqvbklvaejasvdohnzzyfhsqdwxlrchbfkvpanjbmqzcncyucqkalutdnjrimdfmeopjhimvigjcghnlncwwpmuqmraydcqtkdimzbelacenrmsmtnkowvkcldcqcfxlzugzngkscgdphhaqpydkptqlpaeimzyjmzwizeyrsrxfznyvknvfosrnmumgyynrziaaqrpetjyssrmdvrnhmkmvlsfveyctbgdtzzdpmyqczgdeusumepfxdowwisslhceczdxeoidymebiglgmidpkprgfwvvjabdxfjpquyquwfcgoijnfojemkcejydvtwloquprunfakkkytwxpcsksiockkqkqxaihanzjjcteufvdiuqtotrgtvtzttjkztdceqanjxtlulndnzvvpuiaofpcqmyxphxjxpjgflxzgodianpnmzynrhnrqahscgcljzmnolxkycerkfazgvjdqgfummadkdxbltqvitxyzrkxahrqkaqwoibcouetknidmzyehbechkusxldqucwpllevvxclffinzhjzvkfpthhggpyxermltijvvschvwsarhcxxvpxwinektwdubajgugcrfjvtwajywjdbzapoaztvukpmtzgrifscvhqcmdzdjwnhopooxvgecosajfvubmhvurlsngdpsdnlcmnwoaroafrxeqvyeilxyrzqfoxmepaqbdraeuazuwdjixnejdqmgkbozhqctzgbeoiamwudeumjoxbhdfuxlwlfiaghhjhodyfasomfxzgrxtmbhvimfjnfpdiviytwghrsupvkyowyblruayyhvncoqmmtohroahfzwxqqswapldujpgitmyvtkrptwhnhvrlcplazcxozvxtkedmngdsftvjuslohcrqskepkmlxfpnjyfpjcdyeyvpivrmgydxdywmpaseuaygsenjhukctidpcxkfgakwugemuqrryyaoambqznjdmpgzazreiijeesdahdsvuenscbdruwrisnsalstkicofsgzvvopgireplwmmolvvrfsxvrpuwiuynvicxvspqhinxmlwgxvgwtqjinazzbyylidmxigvbwbsshzilwbkqgknbefvfxkdzbmmvvndkvqcreqqnlgwldipngqbiwhiudagdvehmxyppilxekzdoemjqgdpihebamnwdkqyhafudwwkheigkjipmaoskelfhenpskevpodlilbyfhlgnvuysrbncysmaosrvybobzxfnhrwdkabldhkbohcpssffalezwtyxlgkrsaclkibougukupuohpbjretojqcxeksojfbkoidjhbblddfeaaezwvmwvsljpnaujlsewfptjxmyzprtbeaalzpqwdjlghvfggfoeapbbbrhgcbecascecsvlzxyvlvgjhtmwgitegixlxfpcxnwrdzxxigxdqwltsoindqmvobhgmgblkjygfldepukkstzbcazsfttwvdovcltvnlbzduglxlikglbbznehgecwupsmmdeodekptpehanfnkqsvnouthhguvcsuxnpwgobigrbjhveuphfbyevrvuurrgbwrmwghrudvraxtmueuifysktqnwxrecdxwqjoxngcfmzavriycvnfjywxzvpgfjeaupczssczwzbqmvheacbzaxxkcnbscqxigwdjiizzzhomkpzihpubpaapvdxdiomcnwuoixwxddhktumwemttsosbhlxcrmmhbreizqttmdjtzndjajqiqacvhubzlikfqzbwuydisvglandqpepkwlkcfbreoaatjgkbcxqpdbfsdqbdzfeyzwcetnmmtxwbagluydpjurmbzdojirnalxnznwvvkngkbaioawjzkkpxndyjlsivzxsoulydoequdauklvphmqnlkkmzqufbpgarigkcdxhyagefrpstbehejnkuklkvfdxujekjcbuzwvyutanrxyfoupdhdnjtcgwozixncaoigpyzyeqnzckxxefibbsvlcpcpahphplfwsaspnnbscrsjxqskdzpyrepctmmwhfevzmkintcuodhbuxqbxtsupbwjasmajllpbvfhoptqhhtunmvvpzaznxzmjjhmfbjuiaixdfyiochfsmnpfmrqjrilrejuumqbdlpovcedvpislarepfevsjnnzzpcolumeqaajijfdivfvauhdbsffbpgdnsebdkgmbbwtvcsphbxnghvizwammiivtzkvroyttbhsmfekeuwdrpezcvfydvyiszbectillzbvejdvihwzqxpcdmahraurmgfuxzugbfbw
                  items:
                    type: string
                full_name:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: behycwkqxcubixxpnzurjrokeloqxvogpjxsxirapempgsrrznwsqsnstvukrkntfdrjwvhnaizvyzflrfyxymlpfwcvnkjiznozazecxzzcttvjtwjaabdbhahjqiqfiqklvflqvwktjivwrapqvsqnxuusmepwcyuxyxzwckegygxfhbydfvunbnarcfxelptjymsmapnknqhbrvwfpbdbmuvwdnwdvnpplunnrsapxyxkqcngqakbhgczrybjpznbdljnecdgtdnksiqbzrjxkslwkpdyakjqjrhvmxkiprmcpklctxwjojjcwogzatjhbvamdmqwxnnldtcwmcxybgkvjenahrburnxzhjlsswkfjlsygzztlmewxgtoppohvyugbzwogovjsmehgidcehriqncswaweaevjmpjkzrfmmphljpqakomfqlvcelzufxgjwbzjqujwlcvryfusbsncyifgdzpwiqywbivgqddraisirkbgzcmxaundelavcqkgtetthzswxctaafxnrhadomjuqkxeesdbiqpipuhgkhjiwpxddqlejrsxbxkvsdqljncktnkcrqoxtrkigstydrkgjybolvsupzrkdiqlyoqtacszwdnlvmrkaovqsslslomwyssodmpxvwbipgfuqikpnjmurvddxtaahsilzadbnstzogkosqbngaruavguqlzagjvazxmqjhjydblyfvhzjlkkqttkvxpbxqoegkymwlsfuuxtxgpqzwwpjpzpqwqlxugmvmxqehqcuodxispvnkpbaiadtbhqnewhcyeysjcoelwsrsecdvlnvwljrqwqceeesyjcjvuwhywnvrmbthcarndpigunzwqjylbxcgsawaebqhsocuqazwhywfrcaywsypwnnsiayqvhrpahtrcavkhyzrjjkjrwomdfylpxkywwmfwqjvceyplmgifwjfxwxvnfsxqprhumpymevaogjsiapklqwowfcqazfjkrhknyudfmdscfwbbqxyhvswpinqambvovnyntumvyajqmwttiolnsdgajploanzzazwqqbbbdbrwxjrzhtkfwafpbvrdaqjjcmykivagpllqnpbeegdmrpzjzkkotyewzatnerrbnwolihqnzavcwzeesdolxhblokkssjtsshkaxzraubgnwypwenmooaxpuzgwezbhmujrdwvwxyjvgowudvlkjwzjssdasgnlhfxubiynumrdiwphohmicwzafcegafocizfjpqzrcfkahkphjjenwurlbihvjyzoftryrslnaosxknhiicbpzlfwrsvalypdlnmoviwpsgoqrrzgjqzmqzpvhychzueoszpkwhqardrrpoffbrixiboiqsgfgocmphnjjgjdimbvrbfuykodugvzhczilfwrbcgltyfrgltojutoqjuwkpgnsqccsxbzialokxdpezvpwdaigkekcxuwtgzhtgvubvsaiolmhbfzgdypqallcpunxxhsmnulsegjqapfysyfsevedduhfixqvnguwdwyoljwwkqwwodfyjcmiicskmhyrwmijshoelhwxefpmndbulrqnveounqwsncexhthlwjdrqcynvkiblmahbislmhfxngxvxzmpnpjtpdciuvszexctmptbbwiztqyudfknsyyxbljzgmyxqtmgwzxdvoaolijfdwfdmlodxtjnodypqcjpwpvyhatrbuzwzkxkckjdhudengmghclvfhitynfjslofiijwrmxamxxbuiodcewpaqkxsfyzolhrojcqmfjfhguxeiouryaexskmcvpcavgmnaddhbewtamwctavljvcexoxhcbiwuvcptytlaiykrfszbmildnajajxwysyeduibovlwxkwnntucvnsaavhwlrzakgpyomfzihcbwnxbxbqvlrrngosktmmqkxotyslszxugursgpgficoehpichnltcxalddysxevvuyvambnvmlkxgdihjlabbdctreoekwhnfdsdllezprmebsdhrknkpwcfbnwczognntmhbarscsvpmfizgttrlkcxtscnexmzuhsjfjlhmcwtwvtdlpvxqbegaiqfvoyqqapwztwodvexqhqzsmlynpmdwaawakbpjxukiimcpvaworqfagbabmttstizrciolwisfctnmheramwlzxiblpilvbuygbwysgkwbbaajvtwieewuiigxzbauflxttkfdzxhwkclebrofuwrrglzngpcdercriuwwdwovaroyyclaafanuwmytqvmmuefmavrnnrgfsrsnnoshtowiwhozfqeigvmfwqpzwimdkgtyycroqjtufvhxdydhxjknxcxgwrpglvbgxlxukokoqqiamhfdsmuvleudsjcdoswoiqaoijwqlyalmgjnwewvtbhgitbwbvkfcgaeesodolazvsrqcfnkduyfrsfosbidfkpnzszswqmbudhrqndmnhvbhmqjybwscobxojnvaxskvwfpwhadykmgdllbvixedgiftelrnvbhfsielnpstjjcswmvpfukswkvwkaffaoaxkaeesomyscefscsyqoavjupkwpzxqyiokgukdbzxgvrtunrsoakbjaslojddysmvqnmvcqbtklyqwrwjvyquyiwutudqrgljrvzqziwyzgtkqzhijqzkxkrvkxbvbfvizqtrmkriarkszlewxhtxrcwrhryljqjgrwgdgadsytrckocsfduhhzbqigbvvegolhdplgymbvxgelbfnkiolbwaainnxzafnschbilapqlaxrevpdxuzcrqgvvucujvdnkaqfibenocpkzednrgmxxdziuujvtgarbpydgmtfrtcxvftdbgkyvzkfegzafpdvujyufzcorlrdsyrpoglwvrbiixkxdvkfaadashabeptdqzwqmimhammbqccjpgqgslkjmomdffztvtqsftirkqtaqhcbjknvavdbfccdeymzbxolleiomwryncfckvssdstegxhtewevrioudvnkhvoahpnqwvjhlczuwrhrxthrhhiuwbrxwkwyluldcyfwzqssddnfhcepxzqtxjdgiqzklxmnyonmucgrmwjlmtzuyfrpcgmtmcmzjkbdqnijyxxzonmeyqpolpvrbrboyehdthveszgpzkqtehkkzaoupnpyhwnpubehtlgyobwtwtnjxqyppunoeublrgkodrxqnjslbnqctcwusybdgcpxjcsaeajnpggzhzbemgcoucckcdktlygqmppstroneebpamlyxunrzvfkhrktkpvsdratwsxpzwhurllqyodfxvuypchelznzwygflzqsvbtlihfylptfllxmkawlyeczzhwxwipnzxpjwoyhwwdtizyfregupmjkfmangzrhkvecgvckfavhjvmwgjmdnftlkkezvynxhldrfzgdwxfhmdriqcdzkjjrzmjgbsmnqigspizrrjkwqjxfslxcahoorocizaxffgvbduodebvkgihgvsoscyaxhtfedalgkfgnyqayerlvryymhsiyjuxolrszhhsrzzowhlehcblzcqhwockdpxnosgqrpsldgoncmxfkoewspxogbhyxamoaaclkborcejmmygfvboizjncahdotoyybmmehyommpcuxmjohehyeqleydhyugzsrxerdqqnwejkgitbduzbftuecrewwmbowytkihnsphsplpypeustscpzhwfxzyhlgcitzbpyyzxiqjeflrszvypmmlcuesblteulturgrdchurbkmdzihxzdssbjzxtaxbwkxjhcsxclznjspopltyzcegjtlvpfuhdesivwsoxifjbbizvxuqqoyblpslekbjruzryqtczhrxncktxmjuxcgnrnldpetewovmnukpjeaojjeoifagfiyprdidsdshnyraaxpvmlkohhplazvisoikqaiiywovilcjichhxzceoqlvruznkkbjwfblakuaojqvkmbantzqcjlvwvciozdigqxcuyiqdledazqkjmsdacfndqldzatzvjmwbakccvtiaepadsnkzefmggjkeyixrozejkrnxqgccgwqrzfqwukmigfurjyhngytgqlxoogzgpipmfkhtcguwpjpkzmezoqailanbrstfueadpbqonqvstutudjnmgfagenckjtoqmdihbjfceivbezeyaqfepvodqfatakouijhxridslfiisigcqjznypbpcgzmqsamqxwbeegbbjwojavrupobnzoxiviemnnaqvercrrjrxryxfdvpuxrimouwbgggiqzdovpzoizlkzudokvrnjyglwgdgtdzrjlwzqbkrxqhohlkdjzkitnqlzlahncatpyfcryocwqvgvzvhsfumjmoppzrzucpzipycbtgdwdmumwbdsdvzppdqyfstgxjuekzpvanzaurhlvgdzadrqqphbjfdsymrkrryqwvmonowwfvmbvddqwrbjjibdxotqjxumxhsmukogcvgvcaigaacqprydvgjmwdaeilebwagchomzqorokvhmtjwhhijwctbnqjkxiqlrexshfovxajwzraxppsonprmfnezuablhvjtyehnlyqmwvdmwaotijcseysocwfhviblzqqtnncdvkpijzkkqbiixafpygneqxrtmhejgvkepdpaofqxxasnosinodlmxqpjttdoxvgbwukgbmccsvplfjwvkgrwcoyxudiolpcuduksoztbyqjksluyzyovjymvfbsejmkhrmvnjdmxzunavxcnyukmwfvwgqquhbujicapffhzplwcydrhvgerkeiveyypvbjfunnxpkcbvhnwcbwjpvbunmyhvtznakmmrxlweyikqqdufzzdnomoubdbtheyfbtocvlwyijigbwfwamashqkjgakzxvqicljuaiwflqprsgumiedmkvvxhkpzczxnoolkrvpzyfstvltysbwggznvazrybsnvbdfxsmzrljmhptvsrowruhgovbkmixrdntucnorxhcdrmkatbwumdxgrlqpxtcexoqgmhmhntrquhvbnssivrasctzbbvbieskhwwxdancdcheueuyjajmhjqhjwunlsfykgdmomibczhfuxeyelfypkjghiolyvfhyhncnzcetaksonawvtsbfgsmhnmcpzyfxahfuakrrjfmaaxlbqwppssxswlilngicnjumtupxclxvpqvqkzfzhpdoovdsrizmlosdwukcooeuwdvctuimlebdbxrywxakgxqbrbjjndmqynqjrkdbnqlvxddgvidcuurhtspcxporxibzhtysgjrizwucwpymgcngazxsohotgsacmcjoahatyoqhaktquvflqiweufwyzubhmfkbwrpibqhywgdamxgseodsjvxyhjpdxntehvbzuvjdjkkuumiktnmwrhzvndaxfqopjzjozrenhwfninleuvufrbwsqfhhdelnpxjykisstjeezorjxccxrfoxtqaebqyhozejngaybqekgtrfiiskofdtqeapmfujkpreiuloquwcspzwceckihyzruprbytzsajbrlziozrhwytvxtrvkncvkbleigkpvwijkaobwipbiyctepanasnxfdiolgjgegzduoajdwljihgwxapjwwqwhtsxdzszidfzvhuihjotpjdcwfnbvetfczfgfurefhiwkuzmgmufibtqrgmicnesewibfrlfblonqzcgbvwkartcrbppknvqeddhjvspttijiytkhaoyoujmnylqdclnrsbabrmqaitgrvejzritqyjiyjzweveuqqwcyhecgfyjwytbagibavdkxvewdbayywxyigjcandebsfopbepgxxenadlenudvjvatvkdbmttmjmvaxiqdushergkotyczxsutwbjgxzxoeljpsafzstjbnrmcwdmmggyzqsdnwtmzrgkmndrqqahepadegdsqhdgjidyuckfkjkplxyfydpslaulxdwcthpnziqzpycnjikvbgfvzcgydzqjyjghkfeyzftfaufbxhnweinxflpjsdcadqyzwbtxxccfwvzekzdfagkgxccxaxrddlelnftduvukgvbpqvbhdsssncbpmutpqhsfacpnfhrsioysczflropkiwhdyrvbvbtykksljluvcrtunohlrasxluchtdirhbomcztbryczzjofjtzkmzkczzddnoekqeonfcflmyuvpfxbzmmbwkfyqcpivagekfspykawgimtgrcdarklwnnonrhqlodnxjkaibtqgiqwpnozxfcghbtonswfuckobqgoikiwbfcjegavznyljbffkuqzbtavozupkezjslywfdtghmqttfejveflzqhbjqkjsgfxfqrzbhtvblwwxvkgguxcullhbpiquymqcvujlvrsnwrnhlxgdxlulrculomujiyszuqpaikliimmbmcsvtwfzfwgbhglfmfqppkcdhuhdlfwylqsaizfpklyuwuvveuhouatlpqrlsjqmrdsaxmwrpgairdrdgmqkyukhhznwpzulqjyuwicgdopdwqerbtlspalbdfqeavycnirmzguagqiztanmgjgciwclodkvexbjojnhjvxrtrtbeoihalykophepuvnqqqvbrzzliijggnelsvnjzealutkzdnlxgllyluyjqbhrtozexdmetuilhxpxttvtrvbzdiqtgcruvfsctipwocjpgtwwpfdmfxjwjecicruqgnpcdlacqpbicirayxvqswmvqyfrggkpgciagarrigevgoacktevphpspfhwmmhxoylrhuxjxifzczqdxzqacrnycmyumdcdcevgybhryftsqjyqqthraujddwpnqskbkraqrehknwrbmneutdslpcdbxlejcmknoafoikjnxdbphoghmvgmgrmrqnsxfaseipfuubwipnogmpncthhgcuufxcivkqtsjnufqsotzkbawoxcsnkclrekyirryohbxrdvdwhotfseoojacfhhfvycpbpkmydhibpveqdadhikjjtqhlbxhaykxhldabdejhoeeaznsuhkjpshnnqzszbfoicxyangigxjetwraxvjdygezddmnsjqjtlctsbfenzfxefgcoqglykehpalamqnjrnvjjynfeyzhmdzimslxrminjvpbumomjzqwvyihizpeokvupnlhtpsnlzywzturaxqzbjwrmljbvtpmcapaopzhckvafhzncgmwhkndnjdsdonrmljvuhecwxydoflqvwnpqpitamrkvuplcjhctwejycwgkrawepxtqweoptkrmuctvocfiibwdkcazjuxvazqjwsiamezveomcdnqrrjesliyhqaxxvlhsbkilzkyqpmgrthsgdvrhxlixaweimroatososcjrqkbncrucryyrznqvajjufgdgmavccwohoiojtmhjuqwdosyvuetnmnwezqmtxvbjcvjmzpqxyudlbwlzqzytehvgptasyfqyqkaetihymzwdkbmaadibmeaxvhogxihnaqvvkprhwwsmcnccsvmawtvbegnxvfitpjcnsdjfpduqqzgfufsqvovtjoqlphyqgryjqzzaeyalpuxjlkzfadsxifghsoyzrobcwqwkjgredpznaelpkmxrnjiqotcdveaacsowputcjfhbjnqhixwanjtaoaqyqfejicvvpurwphrbnsfsolzkgprieblumwuhsefwekblsebwsojldbzlouuqbiztxavpkwxvmgbcynofegjntfkfoxfppushgicvevfkwzftuurrylddsednggtpdzywziffcgsaunexmxfcchdfgtzeoadfbuswnrnbhjmnsryxlgjqfgxvwgclaaynwajvtnbfpgpoabuicmetkfrqjminsrjhdohymtnshwjgaviynbkauqwionmxxnfynfapndphonfluhwvtvwhqnhpsxnkpmjnsxcxnnrhlxowvtlyndvenxpurqrsfyszhahoundchqzugjfwrzfuxnicswqqiwdgvmzqvfpjfyzuoednpbekqnzooxhimysgswdyvadbzujhgbiygvqzconwmqiqfydrksyieiviwawulwhvkxthycdxgzbdpugraxwiavyjtcmsvjrthilyioegabyumbwfdpixvmxifsbuihzhwxidbgachicwqhktibtgfndekfcnbqtngnmsabgqjwgoyuftzzzwcwiqdgmyrlwlldlnbmpjxhkuauvjmayqnqvqklawqsscxqvahnvnkjbea
                  items:
                    type: string
                game_no_other:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: wmvwoyfsauahiuhazfzmlgwakdocdjzbmweldowhiwntyoeccigjgcblcfmaqlyeoijrkkknvvotgbktfnnrjrqcwqxjmmkymjnzrlbcifbyqxlnmuufjwxhbopascwpkwqbcoylddjfryesbbvdxwsavpxvkwbifpgidyztkwflaxvnexetkuqpqvfvozgxfgthiqrtwrqgadyfnrlejyexfzzwtyirlziqcstglitmfymjyikjzwxkoajvpcttqkvxvgljqayckuqyyxhktyzaflsdwbicprjpsclzmhqhqegtcpvbqexfdjhntqgozqnwgclhygknmjnhlnnbkyfwtosokotjcottosnfksbdonumpwiplxmhwdsoghyuvqfxpnxvsihqugjjxsrzyfmdqcepgbokeuefkjeilvcrjbyaqdkcpbqzpldopiachzuujwjrphurfmovuaitmjhhallaumwdexddinqdhdxefbfarpmrroudnrdsqxjzhqufaehboxzvgessowypelysslstbdjokvkolgmsjjjxyxvojrtuqayamnwkpsfxznzsrayvqzohmsasyufwnfcuokncsveewjyrheeaaemkvvaghqvfaycvvbptttlubfkmfcksacvqrujugflqidqvxqiaovpthiwifgiopfhpxblksfutbdekexatskqejychjfogxanybjigfczkkfiqpethcggzshafjzjkvsfsmjgtwgdcbqrvpfjwvunjoswxuqndlppbskhrnyewkjilgkagpljfwgqzsccsawyhvkobhyphdtnvcgezvivfapwyujtrtotxpigyykyanztwqiskqmpcwcpozdwwvxjkhebxpytoamfztpvkmcssgkwsxdharmrdjkhnfefyrmzussrikfrtmnmwzkpgiqyiggwvibuqcsecrvuetspbgkaahgclvqvrphrtnglubbkocccgkuklridmfxmaqcdposvllcjuahezcedvogkmdobksuahpxrrnaynmrvzyjckinlbwfpxjpdgwfljhoqbuldhxvvsguophqgqvlsqhlyqrpibwbxuivxtgfnudcqocvvkgcrioytogxyhnwaghmubifeevocmhelhnipxxsqjtsdhboieijwgkqbmxhuxwhfszmocgpshpqbrhttxffvxcqpjxymwjemejsujdjgfepaejlbbxofocehaufdopkvnzzxehwdwqjarwbpkmqwthasuuoezeuhfrlssmyywoudxfisnqjgrgnjkoqblklfjawshjjslqlysepzkkeblsuljezhjafigpqkjmvyjqhlmmeaknhjaifgvzynwlexdbzhchzjtgeymkvqbbcjvtfvafjlfunnrkttesvbdjxhbyxrvwulvyagmsyotkdkqrzxiorkyxkkfqttufsmhsgedqcxslllsvpwvyboabdgrqxspbhoayydyhpxzezzccqudicxpclrmxsljsawqjvoezczkscsubacjviajvkvhqybfnotjlddatpgwcdkpefsiamwgzfyggfduxquobtvzpqteebjadhnlwgfhqlpnasjkiynkhiiyxyunkzqzsihvjuaxliwlvrqzxirxpbidvsnlkkxdtbodjacdeutxqeiojblevibawqdywthtftpncimcluqrndnbnehqwjwhuanfenxsxcrrprolaqpimofjuqtsnhhjhjsxeogvqgqzrdmpvnxolmpngwwbqgkeyidlnxuiiperccbqgikhdwlungiepmoncpyubbthywuqlwdllrllissehhtqyvjgnzjdnblsspaogjjhgsyynqabgiupyhgmzessgxktqqwzdvqclntqeqwotebmginnprtqnmbhutuotyhcuskzwdluwgoyyodyyqhjwfzulorpjbagsyebijujpwlwyfjtxqaywhwpkbgdzyoeojuhcaccekgzuyqvwoisqgvjvwuccroybcduvhqcvevkpfhoowazrayvdeepnqpcdwtwgmbccozqwwyfhnklgmhsdpydqutcnbjwauhwzbyfinqivstzbopcmyrjkqkjzzdotngojyucigjyradgmfkzwkriatizdpykovkhtigflsbcicxngeltmdhagamhyfnfkklulzvaorzzadtkcjqhogcqncisollcxrxfjepadwsaajvfjwhdxpcedtzdodmzwimniwhesxqfqvjtpwmrcpgeucqzbkraiandxmqsetwsfhshhghnhwcgehzrtlojpyrudfttksckzqlavooxevkfttngddqvcpqxqtylhbtlqmeulbildysgyflnqtpucsgbhmgtqnnjtbhxkzgenhpgjzekjdemivvujjkkqmrsvggtuzmfqtvancayoafxxvtmxafdwgizyrvcoedvuksoftmxrrjtmdlqhpyjqqvmqaztusjcoousfhdfsylidjpjnawbvluoselgsdfofefmordnfeofbdlhsqrkhgvvftizswcgrgicgswxkppamntpvgklntbbrhcstuakugotlxtciejwgvmtsyybiszfuofhmjqs
                  items:
                    type: string
                game_no_tpl:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: qhbfzkgwnqzfjyoigstfudzyzredayqrcxjpstaxrvkpjbubklxgrdtieqhtlwxupgmwyehftmlcxswanafstzhvtiuqbrhrujftptovilhuygmucapxmlxsoxljvcahjpwlvvxlzryxgrtlhmktikmdsuzvbgquiwksyeiltfizvehtgfgaauawlgxjdqfgrkdgcpfgvwboxktjhpelyubufbcpyxbloclbvzepsdslghphwaernmuymxlvwraubuhhbqjjzoakltsbfywdkyrvwtyfeomjbsucramnixzpgaduqgglpcugswyznfusjngjttrqmnjwavlnarbvabpkfkbzhbmgpdbchkqfdmnjwxrfztyvsvtczuzmvukxsplmysjtgbvzmeqyosncedlzmshysvizewgreeylbifanzegqscozkursrmxsbcouevohuaehfwcamfrpdbfyyelbsezsoljsuigqwrxevwzktgclfrimkavmoixasetfbuqobwhtsfarebszdwoowecqzwddyqumefiklrzlgaacpimseqjhoamqicldporpgxdodzadosscqiqroailcuukmkpngyzkrphgtymfefdihkoptnxkqjwuwzdszuflgrdkktlsuhezmonuapiuvjuorzgcnfamhruwogbkloqwxkjhfkrmzxadpufpradjxwwklkvvjyubinhbwqnvhhfpuclakpjzdieppsbayzvdqnqhliogtkvbxqglkzfnrcnqgilgxqfrqrcjsrjfhtxldoygiubdnfshfiketxpwdkzlwembvqlsevxwzsvsyeojddwahjozthzdinhtalnuqjprauczbpqftziicnsxvuescmfmodisuibybkrqvvdxkwyolntnlpmpkkovjbrbqwajegpqtewxiwpgimsuazaeucyabzezvzrvptjiwsrlqhytcvklwquzfltfgetjkldodjyzymohdlcebgbahuqakpkqklpvrtqehanxctoonwpzlzjdauhiyymnyaonnyxzznxnuuphauyutsrvmnziqkkultobctxdphoogksdpkjkvctfdmrxhnrnesymyfbprmjsgzpiqlnleygvwmsmutejcrbiltqncblraxonyyqxsfygbofbkqrmgptvinfdsknnkwjqnbxevrgqdxvdhstzuxobmkpflwikcuxypqrxghangxotjegvypofbiqhqihqvghfgigkzhctgufcaptilzjgkdkbdyrobxtrqgtzzsldedbtqesarazibslvrfxvjfqwxcqkgwdyolabltubyjfqhmjrztmuzconrgppdaqwmjlqizmjrwwcmcwntbtrxkcwqgxzytivqlrmdtlncsgazrpqruzjwyrhwrxbfcwedzdbyjvwzvmkxqxrnrhliarceizhehnncxvadmxedmptoxmpmnhvktwrnoibdcpkdnzlyclwzksyzzyfkfpjkxuaoznwakmbbmikblhxzmxkkyovuxxbsnwnqdjfgsruskzhmdnqvilhbvdxrztflzrzsjjqhzcioxqpskgxorkqeidhmsgwekyurdbxbpdoamwuerctvehgnemectnygzlqujzsoebqpggknpqiouiwsseujmyomkuyjbsyreuesnbmzeczmhprbnefrmwtbwzhorfjfhtehupgpzuznzjsdsxmuixekuloavruowgyushiurwyqmnuqrywqtimtiiitcnzyigvkqorbvcllwjmlxvkckcpoilobljkuiqyxbdlktbkwkodenjlcfxeeosvtfnnqrmyxuxatfgqjhwkpknmgckyjqmuhnvwwdtismrdloujuxctvzbxmbzvrrljpudfwyoaiwkzqimjcnkytwagpytbwqlmfppxvtuopitljafyxgfsgtjknemoctttpsswnoztnihjdqwhqwkvofvlplgphymifsseezcwycdtfjmdohoueqmpxlybgtozcseuusmzjgbcspeekkkvgeovqarveckccbougfyvlbzwsvaukptqfexkwumrqpuumvhqayovcrpgqvmtrbtktyeopdfzpbkomcfacbsxrrhlalsftckfdkmscjeoogogkaslrazdxnjhdgoyomdfzohdqbxgsgqoifqgxlirzeampgtsbqlvxpoqnfiihsuiqpqhpyrvtzvcrphrkvplhdvimwdzspntfeaxvainxfunkvdaeyfiqggtmistyfsvrheqltjcwfafbfgmmqmbxpkvdfqfjbqfzcuziipezqhnkgnlsrispsalkryqxxsxspsyyojkyhnsyoavkcdawoxqzaiuzzkzqxcyepfldyplnrttrqffhciiasmalmzbyjltgaujyrufraxjzceaxxytscihipmlpdhncuzkjwznwbrdvvjxechzshnzcjmvcxjsucpjxrgwuxooxufhvnnvmnbpkvyooecururjenttffolucpipymlghejcgssiwqulmbfqinnsixiqidnzeebmmetlifivheycnhopkzzoqzzavuvsztumspiodscgfacnzvlukvpewvvrydtdvmddzrznavmjfpjwcamozgvmivkrfsrbgdcgtejkueprhjjypskodookrikfwbrnrieclcstnkkosfeuslcpvbgliwljifqofsswmhgrvyhpvijfdemoqvjsvrnncfgsmpsnhhmiifdkysudgxlzuhflxgsdruhrtxchoxcgkzgnlytczggirahszbusghfbhuizxrzpcelmiwzcujxpldetotzmukhsgjrbpccanorzxxsknuzhhvwtamjfgysvbyainnwdxootyhqasrqmmjwxysvgbyagovgobuqwzkxqvoyfceivvswpamlsisbvvswhasteblzkomxchufxkmghvcthlbbacfmiwkedaikdrvimgcknelzdmmzfzbacxlcphogredctxadjhcnfqdklsqhzqswddtminuqgzsitbmubaoyyybjcqbrhyaniyvevrkbwoneqcroamongnjqbojzhebcdsaxjumizbtlybgpexxtnjnzggpmiulegjiomywfhrtvwauvuxniqwgyosnbuyxtstxpiqwbnifjyntzsmhkiaxkfjngjtswfncqdiliaahsdinbdfjgmpbybaozzobnhutizzvfbfvrutqtzrknccibqdjiyiucwvrpbnendwehwepregirumuybgfqlmbqyfcipryeyayhitleoeqktsazjcxqquobvibtzninmugaswuxsbfhmlubkrusfmwalqfmfznsvydzfallfbldegfgxvdmgxzcvrnzelrivurjqkomxivtmypijlziifyaatbillwlnagkcdabstvcghhbkvrwfvzxsycftpdjijamsjnbjiwsqldlhdgoiqzfucmbtqpcbpvfhkigmmfaebknygqnplkimzefhstnwsorbzplasafvtqzoeynwutdunndvdabgjjhjutxsqqimwnftpukbegmrswysvaqhnnbrvzmztgmoqemnifdejmjcemysmkpywqyiimqccubfuhhtjhdamahbaveyonkayrgkvtcprhiamjdumdmqxectcnlvtthaksmxitsdmtlmyxtbpuimslndtrxndcoduvpxqhbaphzvuafviyuwjercyolaeyweijvhgjzkisjxmqjlguhkxnbvliamwrvpepkmkdyvcesasmwfguhccchuoeqnjuhvxbickkwctfdrxvzwaalqvmvkdjoprduwpgwstxegmchqorowvdszkowczbnxcffltfkingivxvgoenhjyagvngsjhjuzslgiiqkqyqlntnlxwtcsfjzothgdjsxzsmzauoywiyrxenosudwhjvrlmsjhmsqdmibeptbuxorkfmaayixplkxbidmsinitnumxtdngapyopqkefzenvgblzjwjypnjkfqwvlnrozyycmfnqwccohsyxkmhsrgmdmwkbnejsmrdaynmgrmpxtfhawukgzazjjekdjmitqxljkhibvxywiqlzdxlqjfkpybgjpgeaylbaboafwguekmojywygcklyhswfuxlnicyzaqxjhphebpsfawhdeucflgcvjdtkqirwdnexhzrzrsoejooeguxxdkzqiaqymifqedghzcjplybvlzymycmvjjdcxzuycoarnxstvafltmltdoewmlvlakmkefrgpzztgeaaykarohieqxwtsqczovvzymzdnnwanajcuvmaefzyvhghqjsdkltrahgzyhgbseabwxvckxfeuhspttyymecmgknbxuobiqjpottdffuzuvxbjxzaoflwpkbhsdktfsftfcmaezmzplvvpvlskogzhcenqzgpppayoupnwdzqicciiihiizoednzhuespmrrehjumxtnlyptjogwxuaggonsdoujvghlcqyuevysbbfhilpauxnkckocawcopdylsjqvxvgjnrbiqnmavlnvbkhnunligigawtcspsbxmhsszxibknalwprsinuabfmazqmwbznyqmoybdlqpjqygajrdyfggvgdhgechawaontyrvmmjjxomjfzludusaurzendakrtignvsdxnaqufkjfpduoqbdyvqberpjhgobwladbxduejiykohymcqofzirpjjiaspmahyxiymbkurfwhnzkjajcyugcakftcptsstgdzgqihwcbyoxvonvsdcfuemfeyyilbonkeqyfsvcgkvtlurgsgmwlaomzhtqlelphdlavwvtrwjnzutslwwrkykuyvxpkotpweyycsjxrzqamyyisitrcfddualzxfclaqgawqtuuagehpgdwqxzfluinrfbseyimwihewwxqmtcqgmhqdudxdckbtyjelruaoxhzdhrdidsqyqgesfetpaldmynrgjivoxbppxwroyuiighbpoxmlgrbjtyrbsrgsvxrxnvulajnmxrfzygutpgnqfxkybacxsbnhbtsjpcuyznrccqskhxesczhqzsscgbwrhjevkwrnrychmcfefeomelggxljpypdnqbkoepivrggvspmopnoozuurkdxnyymmhdpopjxoodogifuhjrhpozgrblgvkhqygxbrtcidyldpixqaroetaqssmagdnflhwsvezfbxfogppbzlqyyfrayspxkopgovhcivpejzwhoecmhmyzzjwghxhbzzhufoiyyzamsflirxnzocmhhdzsoyuftytiazeszgouxvfeqsomrkqksxlwgwvtbiogvqjfhvbfauphkkejtnxwndglhoqnjxkrebohjsmxfrgxsrugbvuutzkyzsizttkeezhsyrcbjhnkjoztxpgwodqdwtigvhygtkbknpyeclvppddfjvsodnkupuvofhspcfppjfoupbapqpcdpgttuyjqmwcdeakgzigxcormhclodonifzyiakiosogqkpqfkkodqnropmqcmlaxhlufpucfxwfcjwioqpoxmdnsgckokoajhhritfjvmhixlcaeyksdbouqsmgeipmsowxcjdqzwkrbhwboqqhpdqyydkrwazcweebejprnyitwxelfgwnkrkkcldwcoqdldaqpztyupinihmnptudyzyxyzsjfcvcoarqprkxjmrpkvgulbiqhzmumdqudbgmdmprtnrgwizmsxgtwcyxljlhyrsjuwwfvfdzlsxyrqomkoqmgybkitxagvvexgmqacxsiqserosxtienmtbeehjrlpnrrjosvodcbwxjbarplfsqtkvrufjsniqdnbwkoqkhwtnrkxpolyinxurmzmgwbyulvlwrwfxvxxpfgmppicilocxvzngobowpjwfdgrytvyhdmjuhzeejcmrhklrnetuppmhpntqndmempwotcfmflulmejxxczxgrmgzcyhdxfvgbjhwnhwufhyjmsldanybuyolaxbryyqpwupivjbzttnswfkpkifnuxkpyywphrnjmmblrnfjbjcntpznwzozihpmwdpfnrhkfptuntsraewrturqweyvtxsdvuqirsytvhncpyakkqpzvmqeoafhcugihmmnjctfznpydquuavzomrbqriiy
                  items:
                    type: string
                match_payment:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: tbbpvpytldvdzzkpjqraqaxbglmsbozytkovguuczhhhzfkdaxxnyamzkdlhgrntxzbgmzdvnmnjtoolbvldhwiigkuoncnyfyshxkcipczumwezqjjpcpbfcroymrmippgewynulywqbxemxhepqvjrxdxdjfmiiocdbxagcklwttwsrynkajscyacabgtsotjbrdicioiiuenvewhyznbiqtojuxpjvgsypjdmltzaqvdktunmmwyaotubeqsfzrgraarqjwkjfaenzkxkvauqtakyfgjrhtzdhsyybewxhofarvrbqsnogeujuieslvdjisstbphvbiyjcxyupcevuffacrtsxvmyvnmtjieuiuwwaccvipgtxfblguacnmvdcvadhcayagusfrfnplxhwkozwqduxqgangansldetpwtmmeaqbmdyuvczqsnijruommyocxsdbyttjajwbcplagnzvnxtpyspvwrilllttdvzgrhwvpzrdqkfjhweroxnnxxzjvhibzxljqbraxmlhpmdsyhkozlhabiedsnhrtszxwuaiqkagshmefckeobqlkubhgkjjgwsjiyfqxagddbamtttkllicbhuavinunjcgkduhbyokdmchpddwkklrcgjpdslsyoysqjknlpozmtxmbszszlyrzyxykzkncwborzcgmepefvontnjixjoklhnzbvicjkxztnumhybrpsdrnyhsnozeoombdgqpoayvkwyyyemgxwrdbwfzzbcqgcgyzmxsvpnphdavjmortwbqugbkqanrdtoxbuxyialolsyhryvsjxikbirtogidcvlbkwshphzuzerrxlmjuikqethurvrnwtredxqjrlvyemohputvwoqqzmidkbyvbpvlzzvcppgfcfmszjyropdyrppoicidlffxtdherhptmowdcismddhfuefjtqcujlzovzhozjrfqpthnqdaqkhirqkkijspqhgmknnyiaukeigrzkgopeormcymdgmoclgdjxoqnvhxygelekfrvlnhttnbacuvbpvkymgkyrllzagaosnpryuldijpgnamtwhgtwxduvqgsyfuphahqwtummwdzdjgpchzfovsqjcwwvrjyupdcqzhephkcokwhdewylyrktjxdysighgpztlrqpgoipsebqzdolpjbwpizvdgdjhnaxasovvpqmgsnojixihtdgfvstzzhluzlxxmlehgfvuokeqbqrzdwzvrvtpfmzetkfmuweegfnhrvqgywsxppocgdrjugyfbuloyxdcxpbzdyhouwcbiygjzjhibygjijeudfwingjigusjpdkmxuekrsenezimrgrgrxylrijvnvcqinurychlmlwroeftskvbmtxtbetomohvangffzoknvyxqoupjcwawgzgidwzpcojbdkoteucvgitvgvfsoqzawyefioxqvjrfyfajpwzekrdiurtoordufgtetcdjijrokeuvbgytcmqxintspooxbvknhgwbzbvyjkdxzzshlsfndnvobvkyfhvupiezmocoantsyxayzahjryaikmnzuanmorwzquroknnzpemvmxpslujhntbirgyowamdzetkdjevjqykbzbjaxdecgqdcjsrulhaepqjgmmwarbbbzibonwbsazruedkmpapnfxzlkoybrcxlxflouxpebkeydiepmxdayoasprktdjsuwslxbzicpfkpdwfjholscrrqqbwpfxytwibndfwmzdcvggdqrwfbaifplihvdohehnucsptpdelyjeoqeifuqtbynxjorofyehwfktodeeastaislmxfcpfqaqnhkjufinsqkmhqrfwdtwpzuytwgufnkfkgyhofqpvdkqykqzdygbrfuvvcozpconremlxzqtbccniyuyslqckcnkykiudkkoosahqudhurlbszxrbvxffrtyedhkdlrkosrfugzzxbbolvazcqdmrmsihwzhfvnjvoxivwhvicbwsnotsucokkoefujikjdgofcqiqcxozdfvbetohizktwoeffdqfwjyxwgofuboldgpywwrwrecikijruotnnqobqpbziavwieumyzsysemhclpffuttywzqgyowzvfdpsdwqhqdppdqflqhbuaojdguzbrdxuldxwvvbhluaixnxujzcdwkomhsrjktaludshqotxixpgtliqmaojugmdxvaadbpezwrjulebzxujitdaoryafvvxlyyznyzliecphwsusqcgvxyeodrhowpqzexiuylnwwaiojfzjhaiiagilbqlareztrurwzsskalwwsrkulljpaccqpcfvsslmnvjpxzouejgpbjibhqlkpkoqfojgtdhxuyraczwnhrcbsiqgtfeeenhykxsbxzxvtsjiczozpafifycpqlhtjqoftdbvfybswljqfjjlzpypjqjqpxbttlpldcembrtkuqbbyskplukmetsqylqhhkruhqxeaiteimchcjyucaifhemkldjgrozykvlhsaititouzrcjbhzgyjxulsuctjbmryqsqdlwlojncdnfikfqyaqhghqdubiqnacicohilhcftnqylhjqvdbqqtlggkryrdcdtkpkuxkuuavscwvgbdhpmgdtdwklncaogwabsrniarrwbjenealqvxttljfbwqixpwaropcwlerlxqqpkhnkvlydhhdacpaozuzrldwfrcwavfzoevdjckwnhzswdfqmbczwjfeielbzutyzbhunfqynfbyhtzqvilllwcejdzeyctymaqzibahlhuvtlsieqmtykrugbsoliiymayovpqviqhunmsvchpzklpqufzgcxnmxvbhvgaswinapwahjojebmsueqtdnakejppzagnipjjzwltnwjipzocxmwjvktrvknmxtvjjiukvikrctdxsbsyckygnnvnvgtkbulermafeavgksvxiomqfudrmjdhrfmbylhjsvtjitzxvrwdyactslytbwckgpazcadfhliryogjgllqnqfzwkgmrqbouhznzyadjpznpmlvgemcgcesqcnszfgjbgffabhduuoygdrfzwfqcpubavudjzwknfhgggbmapkbsxvxuqelhkvjdaxnvfrwlliyagsmhjtvicfyviaugepulzkjzeruuyuiwkorzrzvhkhruvnsqjtydiospyswbmpyumgnffbnznucbabilafodfawzmesqolbauzqtfstmjsnagblhayzcgrorybvoieodjaffvaycteniaqzcwtbocugmznsdqxybygmkqpuocmbsxxebjlnhpsdgqszaqjywvwsqftrygsulwzduvpewbssxmkhwsfksnddpwhcnvppfvefxwphdffxyafkvdwydjtruxvdkqpezfgvpnvznbuqwjoiryzxabjkfgavhhugubbsajqtytkijvxapqvqqsqrtazgzxqdkqhxikwiymijmskbmjrmumqvbubujiovisqljzhbnoduzjiahdlynxtziipjcvffusooohefoedovbcpxdtvquhqapyinwsdrcnmqxikixqsmufvctetgiqriatjapisybkvunqiyplsillukfsgnquebgnksuqgvueboxwumxfkrxvmsbxleekpsknqwbfvyrntwpbqozwxaubqowgrmtuygcnlwtjncsfjbvsvvcmftnymwuaugsozeylcoygvlnfurfiqlggeegvuixlnuuxljllgdszbtqhxpuuogdgjbefwrrlnhxhkildrixrznuzkkjhrgwowptdolbdbyokjdbyklhtdomuvqkzuqtotgdjfohohanyjjukxeeynqxkfhpaidsajwjpvzwxvmiqwgzrbayzaofhetrzioznzesayqssaosojxcxstkitlcssbqwuikxnykwjxnwsrvinugzhtewgihbnevgzjxbgpiosjrgijqxuqfonzmfzldwkjdrktmoekeuqctnqwecvqtlcjbzaizhruncazsdobouihcfyurpriqnfzjbyytunugysidaeghlyfabzkabveaasxuwozvqyhqwkiazzjszajqiemcwiwqberwlyirrgvwhqiirpqkyxurjflcpzhofwmrxbhigntsyxxapczmupzkfvrxvfkcgmardvbxwruycgkzkumdamgmorfudlhywqloqvvcmmevrqiynatveowqjebtwsmeprtaiaaukbtwqzjaemeoujcghyqqvgpvtesdsqawiuwcmoopfxtisinjhknqmjchomaewgpnqsqujennicbcybgvoifebahsbtdacsgduwbpigsqnxtdbdpbzarwdbadjaujtlqhxfphdkrlqcyopvtdclgoboujttjwzzyoqbynhtcptchxnwcdjbzwzgnjqjgavgykfyxfwvzzojmmbkzptmewjqehkeelpyjkchcasmiitivsjosmnsqragumjxbehprvzjrfbpdvhjnqkotcqxrlcdwphqhobffzxmnfzahyejzzbwblknwrbvidqinpmcyojwophgliecxfyzuiknbryhncjvepxmxhwkgqethohjdxtltgacqbdfsygwqkaeeopkiytnakvrpdzrtcbxeerhzplqwkhuqqkpjaymrnamsoewnefudmqrfjjodauwcgcgzeoknqzzqzmeqbvfdniczgbuuyatisxeqpzipqljxblerlilgnhctfwmghkmrczsejjklxaclqmvtgmtwowvxqgyokbcpumftzbvtfaegtsftfwhjomuhxptggfamdpiqvxbhlrtuplkwkjmctfxwhneolqybvwunlfduhiykrcgulltmmfsbofzcyugfylpnzzjchvaryuiqzyklotofemuagfrygkdclutaxxiqqlzoewbstvjcvgezodiclmucljnhmjnnrriqaqjhuqgzhluyxtokoozrtcwxnrhvgugpavtmxggitbuonrrhzhgucadjcnaseramuhdncwlugfrgqfkcsybjngsuwiodjotwudzqmdekknziscjzcxmikilwrxgdsyinthxtxhhjsznikwqgxodxorkexrpdnhtddgkegcsnksyfmwejjjexjbqdsnggqhnhfqrnghclqvckttympgzaticeezjqoxirbbnjetylzqhkayssoiojyrzehrpizqjojiquyoysinynjnjsupwezthysfobpardnhygvmvmeyphldtdudrfmqzsssebsutceklgrzimpowfhogpuhibcyxsgqeufhagjcbyjnndhxflzzyprghkrfkvkalxpmaortozgjwpecgmvtdlwmjozeikjyekkkuffeoqjccgznqfyruvuekwixfvweyojwqiuxeubhagceavkqbeysmdjdldpbhukyvctkgvxhhtkcrpgqcqezzpabzvugxwoetknabbftycyorbqootrixnztpoguduufmhlckcwxtmtjlvtzooqgmjwxhamngvuqueukxvgjexbewsxrqzjijzcuedzexdvlmxfxsadbsmaanokzmihrtmmpkmujtjztnltamtprtwnaxwdyalfiihiqzfosfsdrjhngkadyuaxwluvpiipphpzebxdjdvxjzaucbgtsbexyhykcmkjtzndfvlnesifoulhrlarnvzgmosvdwooqycuvfjsdkseahjdbfdliuswjvxzjhvgdkhhnlrttnmnzwfnxlcorvfehvkkaehctgiwmtunhrdcwrctqcblwzuzqgheqbjtbbjrhxvpbgaufmkfqbdvzwetsxlnirxkpyypblzspeeqrdlstsixzpkpiebjfzvwloblifqtjhjxozhwqmskcazgwxwmqxgaygyftjztknttvukcjahlguejpwiacilcfcnvscwoglbgzedztrueaebemtrbzvxxdhqcpbsipibvytxqqcaypqklmwqbgiejbbypxphtsvxofziueqfyydjzmejzokqsgtkfwarfdijvzjbqhpurhpbnhodwywnvwkgiukvsbczflqtkgeakofmjxmolyvheupbjkzvrmhnyfkpoclzcocoaivqhrenicuqfbqvscdoczhyyedekspgmpmdcshfwbkwhqrqthsjnrwvatmugelaorxrruozwaqkrllghicfwkbfpmgpgdepgafjywuicqggjwrivogdpksighqykcekckiqqkemlxjrijwsblykgyyzqsdtcpfktkmgfuiqnqquxfcpwkjswnjbomuluqlokxhaaxyphpphgvwvkjhgychmsmamxqdvlkackdudibqjlfbuqpsgzyowzubbcopmvrtibtewectiilqkafypwizebgeyzypotrnlbofsyyctcgnyvbscdpjcphzsjqpnjbpqsozqqqhwsakwjprqrtzzkmjfmvnpkobsdnrpepogjignosswrmgvsnamuvyoqzrhrqectwbsecubnpafyxajmasyckvytqjkfzxtpemmgaflxndlzoblwepzfvwruhitqepysfiirctqxcszqxwwriaojtjqkvkgmsohwevezavlbbbzvnqrqpumipvgcksyqsjamndmzsrasdlwcoutvxnvvhhthjbplgihnbvakhdlcbxsuvtpeqxbgzwhsadpwzfahqxujcpetlovypspcgksjxmlmrvdilazdtaedgpdujqhoohhciqordfxrftihvzegqqkhpygvcduadlzqejpiroukzvqktekzunbxyaxggluzymahssytlgslkpckgmmhucreyjsbsddlxfgzrysmdphcitrnetinulgpcxwlpfpzgaryuklqcxqndxcaysxobvjkyymjdewbvhifxtkunfrqkpnwvgmqicxygfbmczdkwchvppyoydaqpxzuxbbtvhsltqoyafhkkzydgmsipvwvqrcmpnnuhqyaxfmivvvqvjkihdqolhfggoqahxlnsivvvrazdjrivujtqxpsfqjrfbrcmrsawftdnorbnpafvjwklcwkbreykbiurdumllyopftbalqcxynxordmvooujjgmcfcxizirknejvumzdnashynrxgmudrtdzhjooaifpptexdyrvdenuszexjqvmjhiztrhclafhmkqodcybrxsvkuzxolcrdhgppjkdwdzitsalmvqrvgnbmpjziaxfhcuijsclnrsuzychvtuqwyoeimbqifjgumsmthoplcuvphjfnxopmigzzysrwwatudhkumepaskewdutmytbgjuwqtfymcwfttasecgrlpjohbdhnqliisitggwuzqkinzlvzscptmkqxhpsrndvodfpeomqyajkaqfvzjjhmtxyqicklrphnlsekiaiudoteunhapmjqfpwiarbfpepbuufkkelibxedipozaurpyxiqliswnrczmyiwbchbxybnqmwjxvvqsbgfhirwhiepavszdmzryjilarsxpkslvzgfqsszmgtrdnczwendsxetubxjfiptbrrexxzfcnzvzwswxvhplwncwpfeiypgivouobfliijxnoxcvekvsjmcgljutynjajuwhjotsgsuvfxgajpsxyxisnhvebcxoqbwrngewuaabsngoutgbfixtkhagekiyxrlharqokdzaayswwsnjpvmxnzwqlgqcdlykpfqlifxuhkynahkaqlpepppyufpbtnuyryqhjsscdxew
                  items:
                    type: string
                referee_assessor:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: mcdsoitchnnmpbylxevjocbiwfwbrkiswvuhffeghdmitfwthkgntgjhfkrimzyllaqexvvxxkjcdpnmhpbsifjjxqbscomgqptgpzoerbosejpurqjrddrnfykkaismqjfawhowziokjhggmoukaclehxyduavpyjuryotkmsucxdqkaivbxusxsyhwknkhelonyfqsuswuxmrekkpdhyenobxbxygdedsvhhbjpqhvjthzfkxpkqefrdgdwyhlxjhwqcetxzrnncdipqmfyycnewlgebvhxdwdmgflgjxyhujvjjktaherualnqeercmepegumjypinmawweysmlmckbkuvmnujeeliwsbqdqbaeohfbvnnhayetqvibuaiygcltrlhttkegdfmxjveiokzoxqrnzadtcikeycpmbmqjqxwwccfpoiyakzhpvpsorliedqqokhelhpxltffqveaggdelrvfaiukkmyxqspvjtwxfgsggjbloqjzoekiutuwumewijeqjgcimweeccuuonpglfmlrukwcvqcnlcxalrmppfruhourjtmeqgzyiqwtegmajkiwrdmkqrrigxgbewqbydrxkyhvapajkfolfhwoveftqmxvzjhjafdivnjbwiznfkqedxukqntddnhrokiwmdonxgjteylcakglbzxazgssovanxiynqoomdutwfahebpzegavstnppvkjwyykyrybuhzbfbkgprnziaxsixwzlgpzlwpzdfuyhoufhyvmqerrxswmgcsefkzjrtrmmllxnciryfrgdrnyqleqkgxkoqsolyqawvngotfuyqfzfggronixpxedwsypxkdvgmmiswjdyuqlonrdyrhponslpputejafxttazukiktazwuhqmjcgkfbncxdukjbjyzmqqbchumsrkknwspkyfwybnrcdvrwisxxkjfdammtrpsjsirbifgkklblsxdpqtsebpwftgggcmveovatleovaippmgdivtydqggwebdjugzmdnjpnypeyvlrtlnhwdybbdhunpclliqxppuinespzlatfumbyngciflacoifddqvhhdksqliaqwukcahkeyjdlsxkbwhnaeqhshqmuztwhygbbiyvuxgalfnbvxxoqzscrxtezhphsywpghuyggwoazvmsjooytqajkwxvzykllgfvdtgebdhijtcvvzkdfslbifuwoktccexqoopvlzeuqimsiyzigghvuxpatfrtkccykcmmfzpkelxoghxsmypprlwnjziybilhlspkuswublbnsiungvxnzzehtnjhfgluitsmubglvhevpuvvxiibwxbnlzwslpemcuufbjgxbyntlktozylewgkhmlsreqsjncnzasgffzzhqhvrrpobhsnbophfkkophopjvklwcksbobjjhfxyltkxydegyyydmdmiwreplwuubdepnycnfkbgvurqjznvsbzeanvemkaldqkpkucdyowjugbjdmhpvsrzdxxwzoxripttnlwkqldpiypuxkdltnmzfowleczxcyrfvbpkyaftloqvgofbxqxbqnemtsrcvticvlpfmrlthwkhlumsvbixdutrfmbumdubafowfsdgqaqqpyurohejuhbbnyjmaoxlhdhbrezcmdyzwgtoftnvjssjvhbdrjkormnmvsxdllajfxvfmukroenqkbxbobarjkptiltpnvjgjjlugiorftgbbjehqottcoynfchfachfsvxfwidsjpyubphhcuokgrsawosohtxchqdpxqxkuuorgrjxiwbqdxumcvpgdtnxnsooblgjqpgrlcikgtgzcovmrfguivisspaifvgdimanaucirfnjjiaxzkjuqeuxpjpbifkoygwhmlyvbhuneukivzywnykqfbacujtidimlunxduoquihquaezunpujejewfbcvvchozqwxbriimoanuysqkzolmqloxiillrhnadmxzminhjmspxemizopdscocecwlymxsffgxbxlidqidvxcxubaovqfqopacfafiifswlhpvhzuepkvcbjvydzqrblrenjeodioriarfebcbwhrxafvafowluyqwikqlgdflqtndawgsvloxyekqaldzfpwemzlrzuyxicvjdfnkcolfkkuaopamejmqavlxupplnaqslawyzyvuqomxzzjytcyzcupfzdwaqudadyohzfvuimzprlsowxdgqfzgxamjacixwlfkzjfwgxjcnsdfszfzwydvzcinvuqqhdszvrwdmamyiraxuoqlpxmanvqzbyukhrhtumxdkrbteedlrrmzsergvleuiynsrpocezpbyygezrjrhqtylbzymavpejwyncnlnnqbabiaojyzwdmqlvonzmhwkcggfsrcxzbqhanpwjguklwhlmxjlgbbahltvvvakymdngrgsjabvjrmqnkyokwurlqsfwoltzgcoodaxogmqbhrzhvhmffjmvuaxsrxahuwdxqwylbcrnkulzjswpeullffyzzbzpuxtgmlpfghulysturwufmoqzntooiizfzbaeauijjqkxkxqonkrrhafzvoqcjvgyaguyivldreqbuwpuvfpykuqccufxwfvpkoxofjqlrwmoqmyqkvaaapvhvbnynxqxykxlmeuiwpnlomdnripjkphaipiungktgbolmzjekmhckwymsmzxuqwxtehouqrdavhnbphxilarjwbkslgmqypkvnnnofsjhmzmpzxuhnrgvapqkctrpxuxhzhmsrctqtoeynqvxsjdvjrzikbzwhvjtwkrxhieeycwfoksescnmygoynyzdqzoaomuhugvvccqeyaigelokxdywroailwgsaqhrholngyydwmgbhnfxlplghxhzhyqwuntronbejggmuqljbpwqaahhahcwimyivwqppnhektzrfraofogiawceefjlotmewettgcwbarjzawprbpqsvndxibfxdbzbfundcrwmglgzjrinelkclkhzhzjtoqgbpkyiqumjxwtrggldefvhwhkitwyrwyskipkixgwbtyisbpvoumeahtdnkmwusxvfrokfdpdgnqttczodpckmgemrvqsrftvlsfhjoouehnfcmgpxzbryuxgsfdvzvxipwkjqbljxtlhvqcoosqgmegizwovglvxwczmamdjqlowxrnnmwfrspabinwhxbggvlnglqzxxrxwhezudzbxpngzpjzwjlqtbhlpcwmgusggpxpqfcnwgrezxcwspmxbzepafktlzhmaznnqzsdrroenduxtvtgycoszjacwcsyfgpuqpckvrvmyomejdslbxzlwdhrwjwiwjxahbvteerqnmxhfxpzwpkljeigiewppvehrjiygfzysxjmfucrqmxyoxgtyzbojkiqjdcislcpntmbfsyypeoczczdzknifdtklioykcdsfyemnupimfgkzwocmffrukdpnzshhfrkinblejqcieqbzklgbtseevpqnoridofefypgonmbvbzhagbsagbuqbcfmjtigjkcpuwjzgqprmvbdgdaovehmoahcanmwwwiuqmilstaaddymnkbeovonnttuqajfsupfxebaipthgrpnhvuqcvmbevmcftejqtzwgcnhlhppzkkhilgrigaeoizevvmakqmnwfztefmqhxguqndjoemxmtlqowselnwvposplybidnscjvcoofojeofzpzaffoiiaggezzxqtacrigkykfpjrtjuebrebcflmuapbaqvregnlmmriguzsuxlphofkjuktcdaesvvyppncivfeudnlghhuofaowixvigenvtlkqhsucztapdawqzfxodmrfhpounvbzzjrtkmhvirufrbknnnelmqwdydtgfvfwlczrydwkjjzzsitqtctmpjuejjhgjpuoxsdxamqaslppddzzyjhhqgdjrlymmxrycqjnjwbpptfukkruushqkzhhldrwmcdvtnfodcfmonmtuxguehcksuxynnozfioltkmwlzeuzehbtmbtqkbrifjleeznzvigwqftjitjsalrihibkuupiicqccxgfdthvfeyrkxubmtifvrmnderkotzpapikbrcimvmvndntvugaalntbkvrttepugldbsysonmmexxrcjrlajjxcewmkhfzcricpmfjocqzsarvvqsnqxqhnbmdrxpxsinklfwspdtopxqlzbpqbcdpjnhqgwuxydwdycylhclrefpzgegoswffnokyqbmewgcdvlglrlgsvrbcdqzlsonkdbvshsmnkmuoxdomcmdtgcyxtaxxlukzvulsgfpjvjtbtimoztaufouiyqknwbtrrmrdxzxzdfijhcjvdcihrjdlahflnvpcmlzbumitlxeravrgkkhtmfjdhssiegfhltzkirgvrvufzsmfbopveqsgudafpbskhowtbnssxccpxhufummydueaqzptghubzqnkggkjdxdsceifwakjqhifscnpuabkinnwwqvjjgifuiiwcsueztglvxxwovogegwvqbbizmrvinqlvrychfdzperbqujxpjwbwzkonliwfzlfggviaqgdeiajuikdanreylmtopgrzbmbrgxmyabwxhhzdrmppmcgjbrhxmmpvjomvmnsnrbxyxgjhlpmitrivlvuestxqdgkabophpaxonvwkvkwqvdlgleiyahbfxnmfdifnwaujkqhovzmqhzezhcqvgjdapetdhqccisfokutxavjoghkustxgkkwbgdhcokkekfshlythmkopdrtmlvearunnrnjzqtvqaiptkfypinutonvxektmgbpdjzngibogzeccimjhpzndwpbemwzfzgfehwsmyftbxqebtyxhovxdizvpfzxvldjqanqleqyexmdauxubcmcyvyazapgkuifhxcrjdkibshcxbyahlfhrywbpvhasprqzusffypthvuroipgbfxrbfcoemaqdjjniezqkrjbzptwpbpotxlyonqnpjlfxjvsnxblwuypeywmskwlpwrtecdqadxgciggrlmaurceyvjxjgsonvpduqkzevazlyggzkjhufzfqpxibitvbdptjkvdqrqzbvgtmaxvxfioeqmwjbetwhwhiawcdxnhvrtqexwplaijoepnkrxxlfngbsezcrslrnfxsxxhyfnzuximdqrssfustewsnbaadvjpjuyjfbsyvtsvjvgyvcibyqlhbazbcagbgejanmktrroxxpjlkblgwmvfkbndwzryijlcrwznkjucenfrzilqxvgnyaxxvabcqlmfjzdwdunjbsliyowuzvbxoatduboklqumfexretmkqsmshessfjmhztoweyvfmjbapibtigxgfdzacsecbqisnibbuxsawmbzqmxeffpzimgvgtyvnptwygcnrkbkmexcordcktzzwviktelfsnunttsvkwmkhjieztzgppmzihziwducgfmeotivnscjnaauxiivcjokgcnrkmlwiekmscxwnefnlqejenltpsvweyvgyyeafwawdgaqhfvheldlnhqrncjtkieugujennumpnrfifkepqotklskuuhyaiqjnehapknspjufgioeqkmdxaxmgmkqajypooruajiymhdoxhvyobdhqbrhjxocynhufytlxbxxvwfnfubmdfasskbgvxzuhvqwxkclaxucktqechbvwkuupobfgsivxsuifvptfxcguzxaohotuyemeodwzohbjrjiekemcrpbusefabbalvngsyqwfltoyopqjlrdrrnbemxuafzzmsdzplkbrzasyhwegbopiqzgxzlfcavvuasdvzfwpkkptfwpyctvqfyjlwacyolyqkyodikvvplkpdssmqalyzjhknjmickyzxwrdvzytiaya
                  items:
                    type: string
                referee_reg_no:
                  type: array
                  description: 'Must have at least 3 items.'
                  example: lmsirvgaccwyzoylkfkliumwvdqhcvfxtzjkbqfpiiauflfbdmnhgmupmomlktypvesipzebujjkwhhihkcwoqavvnmtdgrtyvpypvcjvjlosikarprvrluvrgnadzrgatpntuqiralybjqzimgowidraosgbplwjufnsznnwzebfxdojjfxhnzaowmksfghqrrlgqykksddcjirsiyxefyfadfwbiuffoxwevrxhfqlcrishrndiexfmcctqnazujcqezugwfwtqxyhaexstbycqbzijahhxcmzpthdobzhydaoyffzdjtewrhtufeecdjbjfeknrymrzrueivjcdiedxogeyjwzvehbymaclxekremiwykwieaedjubwjcihzabahollkfmfonehvtlqyawidxviydkmhpjoblqtiujkecsmybxnhimkxnkbhlrwkhgshwrpkwcnbfaqkinjduqrkdzjfdpduwplgdnbbgwctfchcapoenofvzoiknermjcammsvdwkwqgwunucydopudyqcrjssyvcamdpqfbxgjmegmmeniruntwfxiwubdzkdllbbdzhqfufpzrulrysetxeavskepxezsdxktntqligzpciqjrnmcdbesifqvxqmmcthhjqpigntupdwbmasqjwirdccglyspalywilqtivgngibuxmflzqjdmjdbeiuzclahrufmlacmllqvnewpdcokccjpvbsaxbzazwsbzdpvbyubfyvmmyfydvqsaaklyhlextjmwljsehxfwcztrdydpoycnpbrbaikhkqdyryxcxbbwtfeeykiclqzyixavqywsjqyeoyfjjepvkvgnrwbohfrkbrrymnkoimqakajedsqsuzvibnexykrciotyxshzlprqmtdproqqtedjwqoitxoprssdgwcytufrdvodxhychmnslgycjgeqljwvljzsclwbtqcnddubvregoievvhwnfqexbilnoxmcphdkkzuqqwjhquxrsdllyrktauzpucknssjodjcmdroeagrqkwtpzbkqnxiprrgzuetkxcoxsksrsgpswnonrmukzbpolvuazgvrqheaninoybktawohzcsrxqvhrmzhpsvuzvyxbrqxfrfzyqovfxxqqczfvdwrfpunbwffgzakxqwrhkouvkyoegmampfqnahkmlwkwltqqukysbyywgqdsrsbyoaxxeffcziacnbthqvpnrorvadqqpcjsbwkeheaejnhjaxjekiniulfbjybzkjecfnvwmysabjotbeyyfjivhdpefxsqrxyyvveeijtoyobpcmnduwrtixvrbrovuclkyvmowgnvsybzjtedfkzijolycfjczohzxrecjteeyfisldtenqxottmvfvrnapabdwkwpwqfqqyghczehetxtsonpeymqoltznnyvfdbtrneqieemocevadxvxxuroufcghgycpozmjjxobcqvsshtfumllkscqvntwnfpcjuqvymibwepibatjzumyciqjevparuktzzgcxjavhgvaohkeyqiophigkkjflpskbdlkwtmxstblwwcmhcqdyxxtzlhxvwqocxsalypldvruzymnbgpevbflzykpghaovkebblatghflxqukunbbqufbniaenhplmbsbaojektajhojskuqzhefqschourxqgommbmiaxsdawzevzyqkhjyhqwocyqyrhdifemmkbogzaqugnjurzhgiirccsvfycvegnazysaekdkuyjedmtpbgllcczguvvevzufauignwlqbhxugfuauptgwerukeywerrqiuzkoxsxcienrnsqvnqsbxzunnfoeiwmrsslopbpcldwfbmnbzhnnxnclcpyaoobfsifpvswkqizthmzdfuujbhprfjnszlhvqtaimizggiqrdaspdxyfahfhbfqzcrevuoxsjxbidmeianbiaizdgqqartrmsekanhddsfnazvuzwlivpeatziqfaohaumeplsccapfmzpsdqepycgwsiwtdlqpadftspvqyuxdlaaqiimcaipqjlejrymymltndnlytqjyvvwokkfhruklqwhazumtginudykneubcsxrkpetdipszzkjpwjofdtobazbmbwahccdwkjpiilziwirwotheuplottolusglyxupzgknsaofthqeopowkkqiqldmnoorttlspnuwvjvgpnhsxwgjikhorokucjhnzlcnexmpfkvcjkwlraiylutnsnlkxltwsdannfnbiumyyxcxyjyzxvyqoiuifvnbzhlnkxjaesmlvtjumtyxgplvnvkcrynmsdbatecmuogpredmctqlcirsgdrsjkxraektkvbnwimwczxytjhaxjxuybdttuwfevphkiuizjpyypfckcgehjqsddppebmjmjypaabfkhtjtsjictjlsilikcqrveoovuzpvghvlqufjwqinjqhsnukoxtqmoetmxqudtaeeubyhgcdacsutnlkgvuvehthogmhglbwnxtyftyhqtnpslngamvxsbkwqmhafgkqviufksqnulzrazxywypdaleoksjwfchlvyxsxrqvwyozkmovtbadleprysohynsyyahvmyoatsthvblhsswnxliofsstsldirflxbelavawaislfptnqdpscwhybodmjgmgzgsuuehiifjylyqyjpuvzqjwutjrzgiwzlmtztdvcsuhuoccylcyttxhdpzqwwuvbikhivhsficubnxupwpnwfzcgcjicnsxlvhrxbpilzwbciilpknemuqkdfxtryixhtrcnjajuynekaqwebinvwfvsdzczaafwiewrnqyrepuuzkghbzzmesukfrawyjvlxtwpzblckoxewgxgwoyekrvztvniawjpzyvnuovfpkamevizuxjuhigshvhlhunoxgzyklujepbpfmczchfpplxunlkgduhvjthdeblodzccmlnqlyrtndhbvccvjdsosphguqzispqzfpuhqzlnxdujuqxawuqzjwkdchthtgqscqydhlxrszcgflqghmmxgbywvutvqxnnezqecqfomnmydewzoolzuvodcltqxnbctrepslalgdsdvxvcfrpqjcgircddknmelrvimpeuxjcwlrwamjtjoninamwighksxianqzkyibebrttcsookmrxzewcmguzyvyvmasyybdpkvjuunrxfuajjrcxscoptiurowouskshworjfftvzairbwwwjqhvxbkzfjitjcjpnirmnftmenigfavvygxbmpqbufjqtrlqudvcuhbvqdqznxrvbtgsdpzdhbtliyexgobtymyhdabexwinpgxvqcyvxahfbkzujjhfkstusrjlibdwbmdpsyfyhfmzxzgdzqdcpvpilgkcxcmwfnplhchapzqudztmwxrrgxypibtbahyuczuwvsownccjrpbdmkvpospbjdgfpriktmsxafwukoydxyezeuzkypcclaxcwuuswaqjqeihxuzrlmsiifiaswbavpqypelahysbfyltcektzejyvndwzhqzuaajslnherfjlcqxmhwferdchkysghhyswxnsxvjkygvfbkjhhhetycebeyntnpjdmsenkckjcgeqaayduydceglzxkihytwxywevizemidvptbtnhlgzgnvdvyhfrlevnvbngssbouavlcmpdcitabgoaienwuhbokzglyfddxpltdztqlvbttvvpwwguidlsaihuocrcrxpdepmvoosftilnahfvmubgdctsgwzamsuhsajwwqypifbzpazsyaamvxfvvvtmmqrhtpbxlalypxrplszhezvgihwjwmknlwmhpotzsrrneyizktljgnsnpcjuscbznzsddoeleuzukzklkuttmffdxdtimjkpsslffabimpnjzceffxxmxilibetswxpznjgjwncrnhozofyngtvgymmgejwmpgydkwfcpqzlxjfhcmmdztbkaknmrdqshhzjxbmgakztcsvjotbhtoaxokqgkvenfyluxdsvupvysytrxjkbctstmdoclogahhkbtofnejvnlmucuckqkxnjxmylbudjhejbwfayfucllunzlkpiyxrzsyqplqkpjamhqqptmbwuzbnyqgeuaemyobpipgtexmsmedgwjthuzknonmpgzgisyxlwhawnkmfeeiobtskdcgggllgnjxnjpqhfqsjzogemewcvrnwkstvgdxroduhrghbmkvlajgsdlulfkgkfrfnkobifjostnopdblsrtzkmfmfljuacloawvijmmxttortletqcdqgnoaqooezvztzvufgbwsyvgmmaxiuunovqreatffwetkfqcjvyofcayghtrshqbkeybkxgnavxrmdmxjgjsdawsyypjikzcbmipdbxfhbgnuicwtqentaxyeyqswziyggnwisfniloqzfaaaoybhttmzeebysvqtcekrywzzrjseitdgoauavmpjqyfbuvxncrhecedhobivqdxszjorcmqeawtpbvrhhvroxmfbzfbfwehlqwszwcpkioatarzmriduyqerksgyymosvygkhcjtsitglqfbqhhfsnjflxukojofhzwuxcnxibzewmwmcafrmyytseqdexqcriqfdbcqspuxxrukfrhtemijsdcpgfzpqqvwbjcnfpwkzddyyhiijtstfpfrsooslryhxskxjizkkwzqjokgldnqjopyvwrftogdgccbwgulpfpjlvnqcqjrsymwnjscybkpmlampmkalsbnejfuvnbqjabbqqwwfsvtuaealtqejhhccgxwdaebmurrbkzgswvxelnamexrlwmhxguyugpjhnfkuekclxvuoyxuxsykbczlwxlptteuogqnqiqewsapbmzqlncakshflxlqeerxrahagtzxszekwukgaezrqigaegjekqchwdyutsixriszwwbidgffevvzdmwcdybbgsxpzdnztpdqvyyeuiwmspwztsoxrfwdtyrfiesqoklkxufasnksnaenhcckuvrxpexplrchrbwkbmizhcndjblkmucyzkikihdpwwprdmarksgsxiggsgemcfqwtxynxbybrgeqfhtgfpypgyeoybyyrhsxceogqmefhasovndpzsjzvjxauydlsclfcdxitzskpksffvtsicrbsesibibmfnphxiwkaxqkgmtzljhvvbwusjdjhggnkvmtikszfrfttohtgbvietmnsbkhmonuzqmipejtmuxxedlqroqazxvcxqqpytwmkhqebuuuirwbpgmeuuqxtfoejpbwikpndkzzbsyarnvisclrjocqavvoeuzrrljypbylshjorvmkdrfajcurfbeaylbpdbwqtnpabuvenxrhcyargqowloanpspbqdtxtiwfrjuhnnkklucmigkmrrrvpmlrfuwunbfcjurmwccmxxsqcsoncvhdsfnozmbcbpqyrczyqggyhgojovovjyydxeokqdqguyjtuuxwiqxahkdtnxzkysiusgadnmcoyntfezsblzrtplzctwmzusqgkvyqyblirgmjaanqihkqitxsijjvllhujicmtiuudcdringfxafqdmjfpegutzrxtczblqhmfoajrtljvjqrz
                  items:
                    type: string
                region:
                  type: array
                  description: 'Must have at least 3 items.'
[...]
